/* RESET PROPIEDADES GENERALES */

*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100vw;
    background-color: #F7FFF7;

}

/* FIN RESET Y COLOR BASE */




/* COMIENZO ESTILOS DEL HEADER */

header{
    height: 150px;
    width: 100vw;
    display: grid;
    grid-template-areas: "flagColor1 flagColor1 flagColor1"
    "flagColor2 flagColor2 flagColor2"
    "logoContainer navContainer .";
    grid-template-rows: 22.2px 18.2px auto;
    grid-template-columns: repeat(3, 1fr);
    
}

.flagColor1{
    grid-area: flagColor1;
    height: 22.2px;
    background-color: #06172B;
    width: 100%;
}

.flagColor2{
    grid-area: flagColor2;
    height: 18.2px;
    background-color: #982649;
    width: 100%;
}

    .logoContainer {
        grid-area: logoContainer;         
        display: grid;   
        justify-content: center;
        align-items: center;
        width: 100%;
    }

.navContainer {
    grid-area: navContainer;
    height: 110px;
    width: 100%;
    
}

.navContainer__menu{
    height: 110px;
    width: 100%;
    display: grid;
    align-items: center;
}

.navContainer__menu ul {
    list-style: none;
    height: 29px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navContainer__menu ul li {
    height: 29px;
    width: 93px;
    display: grid;
    align-items: center;
    
}

.navContainer__menu ul li a{
    text-decoration-line: none;
}

.navContainer__menu ul li a:visited{
    text-decoration-line: none;
}

.navContainer__menu ul li a span {
    color: #0F0D0C;
    font-family: 'Roboto Slab', serif;
    font-size: 22px;    
}

.navContainer__menu ul li a span:visited{
    color: #0F0D0C;
}

.navContainer__menu ul li a span:hover{
    border: solid;
    color: #0F0D0C;
}


/* FIN ESTILOS DEL HEADER */

#frontInf{
    height: auto;
    width: 100%;
    display: grid;
    grid-template-areas: ". topMain topMain topMain ."
    ". secondBanner secondBanner secondBanner ."
    ". information information information .";
    grid-template-rows: auto 300px auto;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}

.topMain {
    grid-area: topMain;
    width: auto;
    height: auto;
}

.carrousel-inner{

}

.carousel-item{
    

}

.carousel-item h1{
    border: solid;
    border-color: #0F0D0C;
    font-family: 'Roboto Slab', serif;
    color: #982649;
    
}

.carrousel__elements{
    width: auto;
    height: auto;
    max-height: 530px;
}

.carrousel__elements__img{
    width: auto;
    height: auto;
    max-height: 530px;
}


.banner h1{


    
}

.secondBanner{
    grid-area: secondBanner;
    max-height: 300px;
    width: auto;
}

.secondBanner__elements{
    width: auto;
    height: 100%;
    max-height: 300px;
    position: relative;
    display: inline-block;
    text-align: center;
}

.secondBanner__elements__img{
    height: 100%;
}

.secondBanner__elements__img img{
    width: auto;
    height: 100%;
    max-height: 300px;
    max-width: 1146px;
}

.secondBanner__elements__title{
    border: solid;
    border-color: #0F0D0C;
    max-width: 400px;
    max-height: 200px;
    position: absolute;
    top: 65%;
    left: 85%;
    transform: translate(-50%, -50%);    
}

.secondBanner__elements__title h2{
    max-width: 400px;
    max-height: 200px;
    font-family: 'Barlow', sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

.information{
    grid-area: information;
    max-height: 114px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.information__card{
    height: 100%;
    width: auto;
    max-width: 380px;    
}

.information__card a img{
    width: auto;
    
}

#shopGallery{

}

.directShop{

}

.saleElements{

}

.saleElements__title{


}

.saleElements__title h4{
    font-family: 'Roboto Slab', serif;
    font-size: 32px;
    font-weight: bold;
    text-decoration-color: #0F0D0C;
    
}

.saleElements__title h5{
    font-family: 'Barlow', sans-serif;
    font-size: 30px;
    text-decoration-color: #0F0D0C;
}

.saleElements__card{


    
}

.saleElements__card h6{
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.saleElements__card p{
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.saleElements__card button{
    width: 224px;
    height: 36px;
    background-color: #06172B;


    border-radius: 1ch;
    border: solid;
    border-color: #06172B;
}

.saleElements__card button p{
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #F7FFF7;
}

.saleElements__button{
    width: 344px;
    height: 56px;
    
    background-color: #CF0010;
    border-radius: 4ch;
    border: solid;
    border-color: #CF0010;    
}

.saleElements__button p{
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #F7FFF7;
    background-color: #CF0010;

}


/* COMIENZO ESTILOS DEL FOOTER */

footer {
    width: 100vw;
}

#allFooter {
    width: 100vw;
    display: grid;
    grid-template-areas: "top"
    "mid"
    "bottom";
    grid-template-rows: auto auto auto;
    
}

.top{
    background-color: #285A84;
    width: 100vw;
    height: 322px;
    display: grid;
    grid-template-areas: ". . ."
    ". top__newsLetter top__socialMedia"
    ". . .";
    grid-template-rows: auto 178px;
    grid-template-columns: repeat(3, 1fr);
}

.top__newsLetter{
    grid-area: top__newsLetter;
    display: flex;
    flex-direction: row;
}

.top__newsLetter__info{
    display: inline-block;
    position: relative;
    width: 428px;
    height: 144px;
    font-family: 'Barlow', sans-serif;
    font-size: 35px;
    font-weight: 400;
    color: #F7FFF7;

}

.top__newsLetter__info span{
    font-family: 'Barlow', sans-serif;
    font-size: 35px;
    font-weight: 600;
}

.top__newsLetter__mail{
    width: 421px;
    height: 57px;
    display: flex;
    flex-direction: row;  
}

.top__newsLetter__mail__text{
    width: 363px;
    height: 53px;      
}

.top__newsLetter__mail button{
    height: 57px;
    border: solid;
    border-color: #06172B;
    background-color: #06172B;
    
}

.top__socialMedia{
    grid-area: top__socialMedia;
    background-color: #285A84;
    width: auto;
    height: auto;
    display: flex;  
    flex-direction: row; 
    justify-content: center;    
}

.top__socialMedia__container{
    width: 300px;  
    display: flex;  
    flex-direction: row; 
    justify-content: space-between;
}

.top__socialMedia a img{
    
    background-color: #285A84;
    
}

.top__socialMedia__anime:hover{
    animation: agitar 1s;
    animation-iteration-count: initial;
}

.mid{    
    background-color: #06172B;
    width: 100vw;
    height: 483px;
    
}

.mid__blocks {
    width: 100vw;
    height: 490px;
    left: 0px;
    display: grid;
    grid-template-areas: "mid__blocks__institucional mid__blocks__legal mid__blocks__cliente mid__blocks__servicios";
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;        
}

.mid__blocks__institucional{
    width: 222px;
    height: 481px;
}

.mid__blocks__institucional__title span{
    font-family: 'Barlow', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #285A84;
}

.mid__blocks__institucional__blockUnit{
    height: 433px;
}

.mid__blocks__institucional__blockUnit__nav__ul{
    list-style: none;
}

.mid__blocks__institucional__blockUnit__nav__ul__element--text span{
    font-family: 'Barlow', sans-serif;
    font-size: 39px;
    font-weight: 400;
    display: inline-block;
    color: #285A84;
}

.mid__blocks__institucional__blockUnit__nav__ul__element--text span:hover{
    color: #F7FFF7;
}


.mid__blocks__legal{
    width: 222px;
    height: 481px;    
}

.mid__blocks__legal__title span{
    font-family: 'Barlow', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #285A84;
}

.mid__blocks__legal__blockUnit{
    height: 350px;
}

.mid__blocks__legal__blockUnit__nav__ul{
    list-style: none;
}

.mid__blocks__legal__blockUnit__nav__ul__element--text span{
    font-family: 'Barlow', sans-serif;
    font-size: 39px;
    font-weight: 400;
    color: #285A84;
}

.mid__blocks__legal__blockUnit__nav__ul__element--text span:hover{
    color: #F7FFF7;
}


.mid__blocks__cliente{
    width: 222px;
    height: 481px;
}

.mid__blocks__cliente__title span{
    font-family: 'Barlow', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #285A84;
}

.mid__blocks__cliente__blockUnit{
    height: 433px;
}

.mid__blocks__cliente__blockUnit__nav__ul{
    list-style: none;
}

.mid__blocks__cliente__blockUnit__nav__ul__element a{
    text-decoration: none;
}

.mid__blocks__cliente__blockUnit__nav__ul__element--text span{
    font-family: 'Barlow', sans-serif;
    font-size: 39px;
    font-weight: 400;
    color: #285A84;
    text-decoration-style: none;
    text-decoration: none;
}

.mid__blocks__cliente__blockUnit__nav__ul__element--text span:hover{
    color: #F7FFF7;
}

.mid__blocks__servicios{
    width: 222px;
    height: 481px;
}

.mid__blocks__servicios__title span{
    font-family: 'Barlow', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #285A84;
    
}

.mid__blocks__servicios__blockUnit{
    height: 433px;
}

.mid__blocks__servicios__blockUnit__nav__ul{
    list-style: none;
}

.mid__blocks__servicios__blockUnit__nav__ul__element a{
    text-decoration: none;
}

.mid__blocks__servicios__blockUnit__nav__ul__element a:visited{
    color: #285A84;
}

.mid__blocks__servicios__blockUnit__nav__ul__element--text span{
    font-family: 'Barlow', sans-serif;
    font-size: 39px;
    font-weight: 400;
    color: #285A84;
}

.mid__blocks__servicios__blockUnit__nav__ul__element--text span:hover{
    color: #F7FFF7;
}


.bottom{
    background-color: #0F0D0C;
    width: 100vw;
    height: 246px;
    display: grid;
    align-items: center;
}

.bottom__copyright__text p{
    font-family: 'Barlow', sans-serif;
    font-size: 39px;
    color: #F7FFF7;
}

@keyframes agitar {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    90% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

/* FIN ESTILOS DEL FOOTER */



/*ESTILOS SECCIÓN ABOUT*/

#about{    
    height: auto;
    width: 100%;
    display: grid;
    grid-template-areas: ". banner banner banner ."
    ". principalAbout principalAbout principalAbout .";
    gap: 15px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);    
    margin-bottom: 15px;
}

.banner{
    grid-area: banner;
    max-height: 428px;
    width: auto;
}

.banner img{
    width: 100%;
    height: 100%;
}


.principalAbout{
    grid-area: principalAbout;
    height: auto;
    width: auto;  
}

.principalAbout__titulo, .principalAbout__text{
    height: auto;
    width: auto;
    font-family: 'Barlow', sans-serif;
    font-size: 25px;
    color: #0F0D0C;
    font-weight: 400;

}

.principalAbout__titulo h1{
    font-family: 'Barlow', sans-serif;
    font-size: 40px;
    color: #982649;
    font-weight: bolder;
}

.principalAbout__text h2{
    font-family: 'Barlow', sans-serif;
    font-size: 30px;
    color: #0F0D0C;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 15px;
}

/*FIN ESTILOS SECCIÓN ABOUT*/


/*ESTILOS SECCIÓN SHOP*/

#conteinerShop {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-areas: ". bannerShop bannerShop bannerShop ."
        "filtros cardsContainer cardsContainer cardsContainer ."
        ". cardsContainer cardsContainer cardsContainer ."
        ". cardsContainer cardsContainer cardsContainer ."
        ". . saleElements__button . .";
    gap: 15px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto 282px 282px 282px auto;
}

.bannerShop{
    grid-area: bannerShop;
    max-height: 428px;
    width: 100%;
}

.bannerShop img{
    width: 100%;
    height: auto;
}

.filtros{
    grid-area: filtros;
    background-color: #F7FFF7;
    display: flex;
    flex-direction: column;  
    border: #0F0D0C solid 1px;
    max-height: 285px;
}

.filtros__list{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.filtros__list li{
    border: #0F0D0C solid 1px;
}


.cardsContainer{
    grid-area: cardsContainer;
    max-width: 1146px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.saleElements__card{
    max-height: 550px;
    width: 100%;
    max-width: 370px;
    display: grid;
    margin-bottom: 4px;
}

.saleElements__card__img{
    width: 100%;
    max-width: 280px;
    justify-self: center;
}

.saleElements__card__img img{
    width: auto;
    max-width: 280px;
    border: 1px solid #0F0D0C;
}

.saleElements__card__button{
    max-width: 225px;
    justify-self: center;
}

.saleElements__button{
    grid-area: saleElements__button;
    display: grid;
    justify-content: center; 
    margin-top: 5px;
    margin-bottom: 15px;

}

.saleElements__button--fitting{
    max-height: 24px;
    border: none;
    align-self: center;
}

/* FIN ESTILOS SECCIÓN SHOP*/


/* ESTILOS SECCIÓN CONTACT*/

#containerContact{
    height: auto;
    width: 100vw;
    display: grid;
    grid-template-areas: ". bannerContact bannerContact bannerContact ."
    ". contact__text contact__text contact__text ."
    ". contact__form contact__form contact__form .";
    gap: 15px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, auto);
}   

.bannerContact{
    grid-area: bannerContact;
    max-height: 428px;
    width: auto;
}

.bannerContact img{
    width: 100%;
    height: 100%;
}

.contact__text{
    grid-area: contact__text;
    width: auto;
    height: auto;    
}

.contact__text h1{
    font-family: 'Barlow', sans-serif;
    font-size: 64px;
    color: #982649;
    font-weight: bold;
    
}

.contact__text p{
    font-family: 'Barlow', sans-serif;
    font-size: 39px;
    color: #0F0D0C;
    font-weight: 600;
}

.contact__form {
    grid-area: contact__form;

}





.contact__form span{
    font-family: 'Barlow', sans-serif;
    font-size: 36px;
    color: #0F0D0C;
    font-weight: 500;
}

.contact__form__elements label{
    
    font-family: 'Barlow', sans-serif;
    font-size: 30px;
    color: #0F0D0C;
    font-weight: 500;
}





/* FIN ESTILOS SECCIÓN CONTACT*/


/* ESTILOS SECCIÓN LOCALES*/

#containerLocales{
    height: auto;
    width: 100%;
    display: grid;
    grid-template-areas: ". banner banner banner ."
    ". locales locales locales .";
    gap: 15px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
}    

.banner{
    grid-area: banner;
}

.locales{
    grid-area: locales;
    display: grid;
}

.locales__text{
    height: auto;
    width: auto;
    text-align: left;
}

.locales__text h1{
    font-family: 'Barlow', sans-serif;
    font-size: 40px;
    color: #982649;
    font-weight: bolder;
}

.locales__text p{
    font-family: 'Barlow', sans-serif;
    font-size: 25px;
    color: #0F0D0C;
    font-weight: 400;
}

.locales__search{
    width: auto;
    height: auto;
    max-height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-select{
    height: 100%;
    width: 100%;
    max-height: 57px;
    max-width: 160px;    
    background-color: #F7FFF7;
    color: #0F0D0C;
    border-color: #0F0D0C;
}

.locales__map{
    width: auto;
    height: auto; 
    min-width: 600px;
    min-height: 450px; 
    border: solid;    
    margin-top: 15px;
    margin-bottom: 15px;
    justify-self: center;
}

.locales__map iframe{
    width: 100%;
    height: 100%; 
    max-width: 600px;
    min-height: 450px;  
    
}

/* FIN ESTILOS SECCIÓN LOCALES*/


/* ESTILOS SECCIÓN NOVEDADES*/

#newsContainer{
    height: auto;
    width: 100%;
    display: grid;
    grid-template-areas: ". banner banner banner ."
    ". contenidoPrincipal contenidoPrincipal advertisingBanner ."
    ". widget1 widget2 advertisingBanner .";
    gap: 15px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, auto);
}    

.banner{
    grid-area: banner;
    max-height: 428px;
    width: auto;
}

.banner img{
    width: 100%;
    height: 100%;
}

.contenidoPrincipal{
    grid-area: contenidoPrincipal;
    height: auto;
    width: auto;   
    
}

.contenidoPrincipal__titulo{
    font-family: 'Barlow', sans-serif;
    font-size: 50px;
    color: #982649;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
}

.contenidoPrincipal__text{
    font-family: 'Barlow', sans-serif;
    font-size: 35px;
    color: #0F0D0C;
    font-weight: normal;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

.advertisingBanner{
    grid-area: advertisingBanner;
    width: auto;    
}

.advertisingBanner img {
    height: 100%;
    width: 100%;    
}

.widget1{
    color: #F7FFF7;
    grid-area: widget1;
    height: auto;
    width: auto;

}

.widget1 img{
    width: 100%;
    height: 100%;
}



.widget2{
    color: #F7FFF7;
    grid-area: widget2;
    height: auto;
    width: auto;
    
}

.widget2 img{
    width: 720.9px;
    height: 100%;
    
}


@media screen and (max-width: 768px) {

    header {
        height: 150px;
        width: 360px;
        display: grid;
        grid-template-areas: "flagColor1 flagColor1 flagColor1"
            "flagColor2 flagColor2 flagColor2"
            "logoContainer . navContainer";
        grid-template-rows: 22.2px 18.2px auto;
        grid-template-columns: repeat(3, 1fr);
        width: auto;
    }

    .flagColor1 {
        grid-area: flagColor1;
        width: 360px;
        height: 22.2px;
        background-color: #06172B;
        width: 100%;
    }

    .flagColor2 {
        grid-area: flagColor2;
        width: 360px;
        height: 18.2px;
        background-color: #982649;
        width: 100%
    }

    .logoContainer {
        grid-area: logoContainer;
        left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%
    }

    .navContainer {
        grid-area: navContainer;
        height: 110px;
        width: 100%;
        display: grid;
        align-items: center;
    }

    .navContainer__menu {
        background-image: url(/sources/images/Menu\ mobile.svg);
        width: 28px;
        height: 28px;
        justify-self: center;
    }

    .navContainer__menu ul {
        display: none;
        list-style: none;
    }

    #newsContainer {
        grid-template-areas: "banner banner"
            "contenidoPrincipal contenidoPrincipal"
            "advertisingBanner advertisingBanner"
            "widget1 widget2";
        grid-template-rows: 300px 600px auto 200px;
        grid-template-columns: repeat(2, 3fr);
    }

    .banner {
        height: auto;
        width: auto;
        
    }

    .banner img {
        height: 100%;
        width: 100%;
    }

    .contenidoPrincipal {
        height: auto;
        display: grid;
        justify-content: start;
    }

    .contenidoPrincipal__titulo {
        font-family: 'Barlow', sans-serif;
        font-size: 40px;
        color: #982649;
        font-weight: bold;
        height: auto; 
        
    }

    .contenidoPrincipal__text {
        font-family: 'Barlow', sans-serif;
        font-size: 17px;
        color: #0F0D0C;
        font-weight: lighter;
        height: auto;        
    }

    .advertisingBanner {
        height: auto;
        width: auto;
    }

    .advertisingBanner img {
        height: 100%;
        width: 100%;
    }

    .widget1 {
        margin-left: 0;
        height: auto;
        width: auto;
    }

    .widget1 img {
        height: 100%;
        width: 100%;
    }

    .widget2 {
        height: auto;
        width: auto;
    }

    .widget2 img {
        height: 100%;
        width: 100%;
    }


    /* FOOTER MOBILE */

#allFooter{
    width: auto;
    
}

.top{
    display: none;    
}

.mid{    
    background-color: #06172B;
    position: relative;
    width: 360px;
    height: 490px;
    width: 100%;
    
}

.mid__blocks {
    width: auto;
    height: 490px;
    left: 0px;
    display: grid;
    grid-template-areas: "mid__blocks__institucional mid__blocks__legal"
        "mid__blocks__cliente mid__blocks__servicios";
    grid-template-rows: 242px 242px;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    
}

.mid__blocks__institucional{
    width: 170px;
    height: 243px;
    margin-right: 0px;
    margin-top: 60px;
    grid-area: mid__blocks__institucional;
    display: grid;
    justify-items: center;
    width: 100%;
    
}

.mid__blocks__institucional__title span{

    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #285A84;
    
}

.mid__blocks__institucional__blockUnit{
    height: 204px;
}

.mid__blocks__institucional__blockUnit__nav__ul{
    list-style: none;
}

.mid__blocks__institucional__blockUnit__nav__ul__element--text span{
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
    color: #285A84;
}

.mid__blocks__institucional__blockUnit__nav__ul__element--text span:hover{
    color: #F7FFF7;
}


.mid__blocks__legal{
    width: 131px;
    height: 243px;
    margin-right: 0px;
    bottom: 0px;
    margin-top: 60px;
    grid-area: mid__blocks__legal;
    display: grid;
    justify-items: center;
    width: 100%;
}

.mid__blocks__legal__title span{
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #285A84;
}

.mid__blocks__legal__blockUnit{
    height: 204px;
}

.mid__blocks__legal__blockUnit__nav__ul{
    list-style: none;
}

.mid__blocks__legal__blockUnit__nav__ul__element--text span{
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
    color: #285A84;
}

.mid__blocks__legal__blockUnit__nav__ul__element--text span:hover{
    color: #F7FFF7;
}


.mid__blocks__cliente{
    width: 170px;
    height: 243px;
    margin-right: 0px;
    grid-area: mid__blocks__cliente;
    display: grid;
    justify-items: center;
    width: 100%;
}

.mid__blocks__cliente__title span{
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #285A84;
}

.mid__blocks__cliente__blockUnit{
    height: 204px;
}

.mid__blocks__cliente__blockUnit__nav__ul{
    list-style: none;
}

.mid__blocks__cliente__blockUnit__nav__ul__element a{
    text-decoration: none;
}

.mid__blocks__cliente__blockUnit__nav__ul__element--text span{
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
    color: #285A84;
}

.mid__blocks__cliente__blockUnit__nav__ul__element--text span:hover{
    color: #F7FFF7;
}

.mid__blocks__servicios{
    width: 131px;
    height: 243px;
    margin-right: 0px;
    bottom: 0px;
    grid-area: mid__blocks__servicios;
    display: grid;
    justify-items: center;
    width: 100%;
}

.mid__blocks__servicios__title span{
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #285A84;
    
}

.mid__blocks__servicios__blockUnit{
    height: 204px;
}

.mid__blocks__servicios__blockUnit__nav__ul{
    list-style: none;
}

.mid__blocks__servicios__blockUnit__nav__ul__element a{
    text-decoration: none;
}

.mid__blocks__servicios__blockUnit__nav__ul__element a:visited{
    
    color: #285A84;
}

.mid__blocks__servicios__blockUnit__nav__ul__element--text span{
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
    color: #285A84;
}

.mid__blocks__servicios__blockUnit__nav__ul__element--text span:hover{
    color: #F7FFF7;
}


.bottom{    
    background-color: #0F0D0C;
    width: 360px;
    height: 50px;
    width: 100%;
}

.bottom__copyright__text{
    left: 0px;
    top: 0px;
}

.bottom__copyright__text p{
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    color: #F7FFF7;
    text-align: center;
}

}


