@charset "UTF-8";
/* RESET PROPIEDADES GENERALES */
* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100vw;
  background-color: #F7FFF7;
}

/*ESTILOS HEADER*/
header {
  height: 150px;
  width: 100vw;
  display: grid;
  grid-template-areas: "flagColor1 flagColor1 flagColor1" "flagColor2 flagColor2 flagColor2" "logoContainer navContainer .";
  grid-template-rows: 22.2px 18.2px auto;
  grid-template-columns: repeat(3, 1fr);
}
header .flagColor1 {
  grid-area: flagColor1;
  height: 22.2px;
  background-color: #06172B;
  width: 100%;
}
header .flagColor2 {
  grid-area: flagColor2;
  height: 18.2px;
  background-color: #982649;
  width: 100%;
}
header .logoContainer {
  grid-area: logoContainer;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
}
header .navContainer {
  grid-area: navContainer;
  height: 110px;
  width: 100%;
}
header .navContainer .navContainer__menu {
  height: 110px;
  width: 100%;
  display: grid;
  align-items: center;
}
header .navContainer .navContainer__menu ul {
  list-style: none;
  height: 29px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
header .navContainer .navContainer__menu ul li {
  height: 29px;
  width: 93px;
  display: grid;
  align-items: center;
}
header .navContainer .navContainer__menu ul li a {
  text-decoration-line: none;
}
header .navContainer .navContainer__menu ul li a:visited {
  text-decoration-line: none;
}
header .navContainer .navContainer__menu ul li a span {
  color: #0F0D0C;
  font-family: "Roboto Slab", serif;
  font-size: 22px;
}
header .navContainer .navContainer__menu ul li a span:visited {
  color: #0F0D0C;
}
header .navContainer .navContainer__menu ul li a span:hover {
  border: solid;
  color: #0F0D0C;
}

/*ESTILOS MAIN DEL INDEX*/
#frontInf {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-areas: ". topMain topMain topMain ." ". secondBanner secondBanner secondBanner ." ". information information information .";
  grid-template-rows: auto auto auto;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
}
#frontInf .topMain {
  grid-area: topMain;
  width: auto;
  height: auto;
}
#frontInf .topMain .carrouselContainer__elements__slides--img {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#frontInf .topMain .carrouselContainer__elements__slides--img img {
  width: 100%;
  height: 100%;
  position: relative;
}
#frontInf .topMain .carrouselContainer__elements__slides--img h1 {
  position: absolute;
  border: solid;
  border-color: #0F0D0C;
  font-family: "Roboto Slab", serif;
  font-size: 25px;
  color: #982649;
  background: rgb(130, 130, 138);
  background: linear-gradient(121deg, rgb(130, 130, 138) 0%, rgb(255, 255, 255) 45%, rgb(152, 152, 152) 100%);
}
#frontInf .secondBanner {
  grid-area: secondBanner;
  width: auto;
  height: auto;
}
#frontInf .secondBanner .secondBanner__elements {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
}
#frontInf .secondBanner .secondBanner__elements .secondBanner__elements__img {
  height: 100%;
  width: auto;
}
#frontInf .secondBanner .secondBanner__elements .secondBanner__elements__img a img {
  width: 100%;
  height: 100%;
}
#frontInf .secondBanner .secondBanner__elements .secondBanner__elements__title {
  width: auto;
  height: 100%;
  border: solid;
  border-color: #0F0D0C;
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translate(-50%, -50%);
}
#frontInf .secondBanner .secondBanner__elements .secondBanner__elements__title h2 {
  width: 100%;
  height: 100%;
  font-family: "Barlow", sans-serif;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  background: rgb(130, 130, 138);
  background: linear-gradient(121deg, rgb(130, 130, 138) 0%, rgb(255, 255, 255) 45%, rgb(152, 152, 152) 100%);
}
#frontInf .information {
  grid-area: information;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 25px;
}
#frontInf .information .information__card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#frontInf .information .information__card a img {
  width: 100%;
  height: 100%;
}

#shopGallery {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas: ". directShop1 directShop2 ." ". directShop3 directShop4 .";
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: auto auto auto auto;
  gap: 15px;
}
#shopGallery .directShop1 {
  grid-area: directShop1;
  width: auto;
  height: auto;
}
#shopGallery .directShop1 a img {
  width: 100%;
}
#shopGallery .directShop2 {
  grid-area: directShop2;
  width: auto;
  height: auto;
}
#shopGallery .directShop2 a img {
  width: 100%;
}
#shopGallery .directShop3 {
  grid-area: directShop3;
  width: auto;
  height: auto;
}
#shopGallery .directShop3 a img {
  width: 100%;
}
#shopGallery .directShop4 {
  grid-area: directShop4;
  width: auto;
  height: auto;
}
#shopGallery .directShop4 a img {
  width: 100%;
}

#topSale {
  margin-bottom: 20px;
}
#topSale .saleElements {
  height: auto;
  width: auto;
  max-width: 1920px;
  display: grid;
  grid-template-areas: ". saleElements__title saleElements__title saleElements__title ." "saleElements__card1 saleElements__card2 saleElements__card3 saleElements__card4 saleElements__card5" ". . saleElements__button . .";
  grid-template-rows: auto auto auto;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
}
#topSale .saleElements .saleElements__title {
  grid-area: saleElements__title;
}
#topSale .saleElements .saleElements__title h4 {
  font-family: "Roboto Slab", serif;
  font-size: 32px;
  font-weight: bold;
  text-decoration-color: #0F0D0C;
  text-align: center;
}
#topSale .saleElements .saleElements__title h5 {
  font-family: "Barlow", sans-serif;
  font-size: 30px;
  text-decoration-color: #0F0D0C;
  text-align: center;
}
#topSale .saleElements .saleElements__card1 {
  grid-area: saleElements__card1;
  width: auto;
  height: auto;
  max-height: 465px;
  display: grid;
}
#topSale .saleElements .saleElements__card1 a img {
  width: 100%;
  height: 100%;
  max-height: 350px;
}
#topSale .saleElements .saleElements__card1 h6 {
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  font-weight: 500;
}
#topSale .saleElements .saleElements__card1 p {
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
#topSale .saleElements .saleElements__card1 button {
  width: 224px;
  height: 36px;
  background-color: #06172B;
  border-radius: 1ch;
  border: solid;
  border-color: #06172B;
  justify-self: center;
}
#topSale .saleElements .saleElements__card1 button p {
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #F7FFF7;
}
#topSale .saleElements .saleElements__card2 {
  grid-area: saleElements__card2;
  width: auto;
  height: auto;
  max-height: 465px;
  display: grid;
}
#topSale .saleElements .saleElements__card2 a img {
  width: 100%;
  height: 100%;
}
#topSale .saleElements .saleElements__card2 h6 {
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  font-weight: 500;
}
#topSale .saleElements .saleElements__card2 p {
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
#topSale .saleElements .saleElements__card2 button {
  width: 224px;
  height: 36px;
  background-color: #06172B;
  border-radius: 1ch;
  border: solid;
  border-color: #06172B;
  justify-self: center;
}
#topSale .saleElements .saleElements__card2 button p {
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #F7FFF7;
}
#topSale .saleElements .saleElements__card3 {
  grid-area: saleElements__card3;
  width: auto;
  height: auto;
  max-height: 465px;
  display: grid;
}
#topSale .saleElements .saleElements__card3 a img {
  width: 100%;
  height: 100%;
}
#topSale .saleElements .saleElements__card3 h6 {
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  font-weight: 500;
}
#topSale .saleElements .saleElements__card3 p {
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
#topSale .saleElements .saleElements__card3 button {
  width: 224px;
  height: 36px;
  background-color: #06172B;
  justify-self: center;
  border-radius: 1ch;
  border: solid;
  border-color: #06172B;
}
#topSale .saleElements .saleElements__card3 button p {
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #F7FFF7;
}
#topSale .saleElements .saleElements__card4 {
  grid-area: saleElements__card4;
  width: auto;
  height: auto;
  max-height: 465px;
  display: grid;
}
#topSale .saleElements .saleElements__card4 a img {
  width: 100%;
  height: 100%;
}
#topSale .saleElements .saleElements__card4 h6 {
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  font-weight: 500;
}
#topSale .saleElements .saleElements__card4 p {
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
#topSale .saleElements .saleElements__card4 button {
  width: 224px;
  height: 36px;
  background-color: #06172B;
  border-radius: 1ch;
  border: solid;
  border-color: #06172B;
  justify-self: center;
}
#topSale .saleElements .saleElements__card4 button p {
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #F7FFF7;
}
#topSale .saleElements .saleElements__card5 {
  grid-area: saleElements__card5;
  width: auto;
  height: auto;
  max-height: 465px;
  display: grid;
}
#topSale .saleElements .saleElements__card5 a img {
  width: 100%;
  height: 100%;
}
#topSale .saleElements .saleElements__card5 h6 {
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  font-weight: 500;
}
#topSale .saleElements .saleElements__card5 p {
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
#topSale .saleElements .saleElements__card5 button {
  width: 224px;
  height: 36px;
  background-color: #06172B;
  border-radius: 1ch;
  border: solid;
  border-color: #06172B;
  justify-self: center;
}
#topSale .saleElements .saleElements__card5 button p {
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #F7FFF7;
}
#topSale .saleElements .saleElements__button {
  grid-area: saleElements__button;
  width: 344px;
  height: 56px;
  background-color: #CF0010;
  border-radius: 4ch;
  border: solid;
  border-color: #CF0010;
  margin-top: 10px;
}
#topSale .saleElements .saleElements__button button {
  height: 100%;
  width: 100%;
  border: none;
  background-color: #CF0010;
  border-radius: 4ch;
  display: grid;
}
#topSale .saleElements .saleElements__button button p {
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #F7FFF7;
  background-color: #CF0010;
  border-radius: 4ch;
  margin-bottom: 0;
  align-self: center;
}

/*ESTILOS MAIN DE ABOUT*/
#about {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-areas: ". banner banner banner ." ". principalAbout principalAbout principalAbout .";
  gap: 15px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  margin-bottom: 15px;
}
#about .banner {
  grid-area: banner;
  max-height: 428px;
  width: auto;
}
#about .banner img {
  width: 100%;
  height: 100%;
}
#about .principalAbout {
  grid-area: principalAbout;
  height: auto;
  width: auto;
}
#about .principalAbout .principalAbout__titulo, #about .principalAbout .principalAbout__text {
  height: auto;
  width: auto;
  font-family: "Barlow", sans-serif;
  font-size: 25px;
  color: #0F0D0C;
  font-weight: 400;
}
#about .principalAbout .principalAbout__titulo h1 {
  font-size: 40px;
  color: #982649;
  font-weight: bolder;
}
#about .principalAbout .principalAbout__text h2 {
  font-size: 30px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 15px;
}

/*MAIN DE SECCIÓN LOCALES*/
#containerLocales {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-areas: ". banner banner banner ." ". locales locales locales .";
  gap: 15px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
}

.banner {
  grid-area: banner;
}

.locales {
  grid-area: locales;
  display: grid;
}

.locales__text {
  height: auto;
  width: auto;
  text-align: left;
}
.locales__text h1 {
  font-family: "Barlow", sans-serif;
  font-size: 40px;
  color: #982649;
  font-weight: bolder;
}
.locales__text p {
  font-family: "Barlow", sans-serif;
  font-size: 25px;
  color: #0F0D0C;
  font-weight: 400;
}

.locales__search {
  width: 100%;
  height: 100%;
  max-height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-select {
  height: 100%;
  width: 100%;
  max-height: 57px;
  max-width: 160px;
  background-color: #F7FFF7;
  color: #0F0D0C;
  border-color: #0F0D0C;
}

.locales__map {
  width: auto;
  height: auto;
  min-width: 600px;
  min-height: 450px;
  border: solid 1px #06172B;
  margin-top: 15px;
  margin-bottom: 15px;
  justify-self: center;
}
.locales__map iframe {
  width: 100%;
  height: 100%;
  max-width: 600px;
  min-height: 450px;
}

/*FOOTER*/
footer {
  width: 100%;
}
footer #allFooter {
  width: 100%;
  display: grid;
  grid-template-areas: "top" "mid" "bottom";
  grid-template-rows: auto auto auto;
}
footer #allFooter .top {
  background-color: #285A84;
  width: 100vw;
  height: 322px;
  display: grid;
  grid-template-areas: ". . ." ". top__newsLetter top__socialMedia" ". . .";
  grid-template-rows: auto 178px;
  grid-template-columns: repeat(3, 1fr);
}
footer #allFooter .top .top__newsLetter {
  grid-area: top__newsLetter;
  display: flex;
  flex-direction: row;
}
footer #allFooter .top .top__newsLetter .top__newsLetter__info {
  display: inline-block;
  position: relative;
  width: 428px;
  height: 144px;
  font-family: "Barlow", sans-serif;
  font-size: 35px;
  font-weight: 400;
  color: #F7FFF7;
}
footer #allFooter .top .top__newsLetter .top__newsLetter__info span {
  font-family: "Barlow", sans-serif;
  font-size: 35px;
  font-weight: 600;
}
footer #allFooter .top .top__newsLetter .top__newsLetter__mail {
  width: 421px;
  height: 57px;
  display: flex;
  flex-direction: row;
}
footer #allFooter .top .top__newsLetter .top__newsLetter__mail .top__newsLetter__mail__text {
  width: 363px;
  height: 53px;
}
footer #allFooter .top .top__newsLetter .top__newsLetter__mail button {
  height: 57px;
  border: solid;
  border-color: #06172B;
  background-color: #06172B;
}
footer #allFooter .top .top__socialMedia {
  grid-area: top__socialMedia;
  background-color: #285A84;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer #allFooter .top .top__socialMedia .top__socialMedia__container {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer #allFooter .top .top__socialMedia .top__socialMedia__container a img:hover {
  background-color: #285A84;
  animation: agitar 1s;
  animation-iteration-count: initial;
}
footer #allFooter .mid {
  background-color: #06172B;
  width: auto;
  height: auto;
}
footer #allFooter .mid .mid__blocks {
  width: 100%;
  height: auto;
  left: 0px;
  display: grid;
  grid-template-areas: "mid__blocks__institucional mid__blocks__legal mid__blocks__cliente mid__blocks__servicios";
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
}
footer #allFooter .mid .mid__blocks .mid__blocks__institucional {
  width: 222px;
  height: 481px;
}
footer #allFooter .mid .mid__blocks .mid__blocks__institucional .mid__blocks__institucional__title span {
  font-family: "Barlow", sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #285A84;
}
footer #allFooter .mid .mid__blocks .mid__blocks__institucional .mid__blocks__institucional__blockUnit {
  height: 433px;
}
footer #allFooter .mid .mid__blocks .mid__blocks__institucional .mid__blocks__institucional__blockUnit .mid__blocks__institucional__blockUnit__nav__ul {
  list-style: none;
  padding: 0;
}
footer #allFooter .mid .mid__blocks .mid__blocks__institucional .mid__blocks__institucional__blockUnit .mid__blocks__institucional__blockUnit__nav__ul .mid__blocks__institucional__blockUnit__nav__ul__element a {
  text-decoration: none;
}
footer #allFooter .mid .mid__blocks .mid__blocks__institucional .mid__blocks__institucional__blockUnit .mid__blocks__institucional__blockUnit__nav__ul .mid__blocks__institucional__blockUnit__nav__ul__element a .mid__blocks__institucional__blockUnit__nav__ul__element--text span {
  font-family: "Barlow", sans-serif;
  font-size: 39px;
  font-weight: 400;
  display: inline-block;
  color: #285A84;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer #allFooter .mid .mid__blocks .mid__blocks__institucional .mid__blocks__institucional__blockUnit .mid__blocks__institucional__blockUnit__nav__ul .mid__blocks__institucional__blockUnit__nav__ul__element a .mid__blocks__institucional__blockUnit__nav__ul__element--text span:hover {
  color: #F7FFF7;
}
footer #allFooter .mid .mid__blocks .mid__blocks__legal {
  width: 222px;
  height: 481px;
}
footer #allFooter .mid .mid__blocks .mid__blocks__legal .mid__blocks__legal__title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer #allFooter .mid .mid__blocks .mid__blocks__legal .mid__blocks__legal__title span {
  font-family: "Barlow", sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #285A84;
}
footer #allFooter .mid .mid__blocks .mid__blocks__legal .mid__blocks__legal__blockUnit {
  height: 350px;
}
footer #allFooter .mid .mid__blocks .mid__blocks__legal .mid__blocks__legal__blockUnit .mid__blocks__legal__blockUnit__nav__ul {
  list-style: none;
  padding: 0;
}
footer #allFooter .mid .mid__blocks .mid__blocks__legal .mid__blocks__legal__blockUnit .mid__blocks__legal__blockUnit__nav__ul .mid__blocks__legal__blockUnit__nav__ul__element a {
  text-decoration: none;
}
footer #allFooter .mid .mid__blocks .mid__blocks__legal .mid__blocks__legal__blockUnit .mid__blocks__legal__blockUnit__nav__ul .mid__blocks__legal__blockUnit__nav__ul__element a .mid__blocks__legal__blockUnit__nav__ul__element--text span {
  font-family: "Barlow", sans-serif;
  font-size: 39px;
  font-weight: 400;
  color: #285A84;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer #allFooter .mid .mid__blocks .mid__blocks__legal .mid__blocks__legal__blockUnit .mid__blocks__legal__blockUnit__nav__ul .mid__blocks__legal__blockUnit__nav__ul__element a .mid__blocks__legal__blockUnit__nav__ul__element--text span:hover {
  color: #F7FFF7;
}
footer #allFooter .mid .mid__blocks .mid__blocks__cliente {
  width: 222px;
  height: 481px;
}
footer #allFooter .mid .mid__blocks .mid__blocks__cliente .mid__blocks__cliente__title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer #allFooter .mid .mid__blocks .mid__blocks__cliente .mid__blocks__cliente__title span {
  font-family: "Barlow", sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #285A84;
}
footer #allFooter .mid .mid__blocks .mid__blocks__cliente .mid__blocks__cliente__blockUnit {
  height: 433px;
}
footer #allFooter .mid .mid__blocks .mid__blocks__cliente .mid__blocks__cliente__blockUnit .mid__blocks__cliente__blockUnit__nav__ul {
  list-style: none;
  padding: 0;
}
footer #allFooter .mid .mid__blocks .mid__blocks__cliente .mid__blocks__cliente__blockUnit .mid__blocks__cliente__blockUnit__nav__ul .mid__blocks__cliente__blockUnit__nav__ul__element a {
  text-decoration: none;
}
footer #allFooter .mid .mid__blocks .mid__blocks__cliente .mid__blocks__cliente__blockUnit .mid__blocks__cliente__blockUnit__nav__ul .mid__blocks__cliente__blockUnit__nav__ul__element a .mid__blocks__cliente__blockUnit__nav__ul__element--text span {
  font-family: "Barlow", sans-serif;
  font-size: 39px;
  font-weight: 400;
  color: #285A84;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer #allFooter .mid .mid__blocks .mid__blocks__cliente .mid__blocks__cliente__blockUnit .mid__blocks__cliente__blockUnit__nav__ul .mid__blocks__cliente__blockUnit__nav__ul__element a .mid__blocks__cliente__blockUnit__nav__ul__element--text span:hover {
  color: #F7FFF7;
}
footer #allFooter .mid .mid__blocks .mid__blocks__servicios {
  width: 222px;
  height: 481px;
}
footer #allFooter .mid .mid__blocks .mid__blocks__servicios .mid__blocks__servicios__title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer #allFooter .mid .mid__blocks .mid__blocks__servicios .mid__blocks__servicios__title span {
  font-family: "Barlow", sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #285A84;
}
footer #allFooter .mid .mid__blocks .mid__blocks__servicios .mid__blocks__servicios__blockUnit {
  height: 433px;
}
footer #allFooter .mid .mid__blocks .mid__blocks__servicios .mid__blocks__servicios__blockUnit .mid__blocks__servicios__blockUnit__nav__ul {
  list-style: none;
  padding: 0;
}
footer #allFooter .mid .mid__blocks .mid__blocks__servicios .mid__blocks__servicios__blockUnit .mid__blocks__servicios__blockUnit__nav__ul .mid__blocks__servicios__blockUnit__nav__ul__element a {
  text-decoration: none;
}
footer #allFooter .mid .mid__blocks .mid__blocks__servicios .mid__blocks__servicios__blockUnit .mid__blocks__servicios__blockUnit__nav__ul .mid__blocks__servicios__blockUnit__nav__ul__element a:visited {
  color: #285A84;
}
footer #allFooter .mid .mid__blocks .mid__blocks__servicios .mid__blocks__servicios__blockUnit .mid__blocks__servicios__blockUnit__nav__ul .mid__blocks__servicios__blockUnit__nav__ul__element a .mid__blocks__servicios__blockUnit__nav__ul__element--text span {
  font-family: "Barlow", sans-serif;
  font-size: 39px;
  font-weight: 400;
  color: #285A84;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer #allFooter .mid .mid__blocks .mid__blocks__servicios .mid__blocks__servicios__blockUnit .mid__blocks__servicios__blockUnit__nav__ul .mid__blocks__servicios__blockUnit__nav__ul__element a .mid__blocks__servicios__blockUnit__nav__ul__element--text span:hover {
  color: #F7FFF7;
}
footer #allFooter .bottom {
  background-color: #0F0D0C;
  width: 100vw;
  height: 246px;
  display: grid;
  align-items: center;
}
footer #allFooter .bottom .bottom__copyright__text p {
  font-family: "Barlow", sans-serif;
  font-size: 39px;
  color: #F7FFF7;
}

/*MEDIA PARA EL HEADER VERSIÓN MOBILE*/
@media (max-width: 768px) and (min-width: 400px) {
  header {
    height: 150px;
    width: auto;
    display: grid;
    grid-template-areas: "flagColor1 flagColor1 flagColor1" "flagColor2 flagColor2 flagColor2" "logoContainer . navContainer";
    grid-template-rows: 22.2px 18.2px auto;
    grid-template-columns: repeat(3, 1fr);
  }
  header .flagColor1 {
    grid-area: flagColor1;
    width: 360px;
    height: 22.2px;
    background-color: #06172B;
    width: 100%;
  }
  header .flagColor2 {
    grid-area: flagColor2;
    width: 360px;
    height: 18.2px;
    background-color: #982649;
    width: 100%;
  }
  header .logoContainer {
    grid-area: logoContainer;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  header .navContainer {
    grid-area: navContainer;
    height: 110px;
    width: 100%;
    display: grid;
    align-items: center;
  }
  header .navContainer .navContainer__menu {
    background-image: url(/sources/images/menuMobile.svg);
    width: 28px;
    height: 28px;
    justify-self: center;
  }
  header .navContainer .navContainer__menu ul {
    display: none;
    list-style: none;
  }
}
/*MEDIA PARA EL HEADER VERSIÓN MOBILE*/
@media (max-width: 768px) and (min-width: 400px) {
  footer #allFooter {
    width: auto;
    height: auto;
  }
  footer #allFooter .top {
    display: none;
  }
  footer #allFooter .mid {
    background-color: #06172B;
    position: relative;
    height: 100%;
    width: 100%;
  }
  footer #allFooter .mid .mid__blocks {
    height: 100%;
    width: 100%;
    left: 0px;
    display: grid;
    grid-template-areas: "mid__blocks__institucional mid__blocks__legal" "mid__blocks__cliente mid__blocks__servicios";
    grid-template-rows: auto auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  footer #allFooter .mid .mid__blocks .mid__blocks__institucional {
    width: 170px;
    height: 200px;
    margin-right: 0px;
    grid-area: mid__blocks__institucional;
    display: grid;
    justify-items: center;
    width: 100%;
  }
  footer #allFooter .mid .mid__blocks .mid__blocks__institucional .mid__blocks__institucional__title {
    height: 30px;
  }
  footer #allFooter .mid .mid__blocks .mid__blocks__institucional .mid__blocks__institucional__title span {
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #285A84;
  }
  footer #allFooter .mid .mid__blocks .mid__blocks__institucional .mid__blocks__institucional__blockUnit {
    height: 150px;
  }
  footer #allFooter .mid .mid__blocks .mid__blocks__institucional .mid__blocks__institucional__blockUnit .mid__blocks__institucional__blockUnit__nav__ul {
    list-style: none;
    margin: 0;
  }
  footer #allFooter .mid .mid__blocks .mid__blocks__institucional .mid__blocks__institucional__blockUnit .mid__blocks__institucional__blockUnit__nav__ul .mid__blocks__institucional__blockUnit__nav__ul__element a {
    text-decoration: none;
  }
  footer #allFooter .mid .mid__blocks .mid__blocks__institucional .mid__blocks__institucional__blockUnit .mid__blocks__institucional__blockUnit__nav__ul .mid__blocks__institucional__blockUnit__nav__ul__element a .mid__blocks__institucional__blockUnit__nav__ul__element--text span {
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
    color: #285A84;
  }
  footer #allFooter .mid .mid__blocks .mid__blocks__institucional .mid__blocks__institucional__blockUnit .mid__blocks__institucional__blockUnit__nav__ul .mid__blocks__institucional__blockUnit__nav__ul__element a .mid__blocks__institucional__blockUnit__nav__ul__element--text span:hover {
    color: #F7FFF7;
  }
  footer #allFooter .mid .mid__blocks .mid__blocks__legal {
    width: 131px;
    height: 200px;
    margin-right: 0px;
    bottom: 0px;
    grid-area: mid__blocks__legal;
    display: grid;
    justify-items: center;
    width: 100%;
  }
  footer #allFooter .mid .mid__blocks .mid__blocks__legal .mid__blocks__legal__title {
    height: 30px;
  }
  footer #allFooter .mid .mid__blocks .mid__blocks__legal .mid__blocks__legal__title span {
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #285A84;
  }
  footer #allFooter .mid .mid__blocks .mid__blocks__legal .mid__blocks__legal__blockUnit {
    height: 150px;
  }
  footer #allFooter .mid .mid__blocks .mid__blocks__legal .mid__blocks__legal__blockUnit .mid__blocks__legal__blockUnit__nav__ul {
    list-style: none;
  }
  footer #allFooter .mid .mid__blocks .mid__blocks__legal .mid__blocks__legal__blockUnit .mid__blocks__legal__blockUnit__nav__ul .mid__blocks__legal__blockUnit__nav__ul__element a {
    text-decoration: none;
  }
  footer #allFooter .mid .mid__blocks .mid__blocks__legal .mid__blocks__legal__blockUnit .mid__blocks__legal__blockUnit__nav__ul .mid__blocks__legal__blockUnit__nav__ul__element a .mid__blocks__legal__blockUnit__nav__ul__element--text span {
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
    color: #285A84;
  }
  footer #allFooter .mid .mid__blocks .mid__blocks__legal .mid__blocks__legal__blockUnit .mid__blocks__legal__blockUnit__nav__ul .mid__blocks__legal__blockUnit__nav__ul__element a .mid__blocks__legal__blockUnit__nav__ul__element--text span:hover {
    color: #F7FFF7;
  }
  footer #allFooter .mid .mid__blocks .mid__blocks__cliente {
    width: 170px;
    height: 230px;
    margin-right: 0px;
    grid-area: mid__blocks__cliente;
    display: grid;
    justify-items: center;
    width: 100%;
  }
  footer #allFooter .mid .mid__blocks .mid__blocks__cliente .mid__blocks__cliente__title {
    height: 30px;
  }
  footer #allFooter .mid .mid__blocks .mid__blocks__cliente .mid__blocks__cliente__title span {
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #285A84;
  }
  footer #allFooter .mid .mid__blocks .mid__blocks__cliente .mid__blocks__cliente__blockUnit {
    height: 150px;
  }
  footer #allFooter .mid .mid__blocks .mid__blocks__cliente .mid__blocks__cliente__blockUnit .mid__blocks__cliente__blockUnit__nav__ul {
    list-style: none;
  }
  footer #allFooter .mid .mid__blocks .mid__blocks__cliente .mid__blocks__cliente__blockUnit .mid__blocks__cliente__blockUnit__nav__ul .mid__blocks__cliente__blockUnit__nav__ul__element a {
    text-decoration: none;
  }
  footer #allFooter .mid .mid__blocks .mid__blocks__cliente .mid__blocks__cliente__blockUnit .mid__blocks__cliente__blockUnit__nav__ul .mid__blocks__cliente__blockUnit__nav__ul__element a .mid__blocks__cliente__blockUnit__nav__ul__element--text span {
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
    color: #285A84;
  }
  footer #allFooter .mid .mid__blocks .mid__blocks__cliente .mid__blocks__cliente__blockUnit .mid__blocks__cliente__blockUnit__nav__ul .mid__blocks__cliente__blockUnit__nav__ul__element a .mid__blocks__cliente__blockUnit__nav__ul__element--text span:hover {
    color: #F7FFF7;
  }
  footer #allFooter .mid .mid__blocks .mid__blocks__servicios {
    width: 131px;
    height: 230px;
    margin-right: 0px;
    bottom: 0px;
    grid-area: mid__blocks__servicios;
    display: grid;
    justify-items: center;
    width: 100%;
  }
  footer #allFooter .mid .mid__blocks .mid__blocks__servicios .mid__blocks__servicios__title {
    height: 30px;
  }
  footer #allFooter .mid .mid__blocks .mid__blocks__servicios .mid__blocks__servicios__title span {
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #285A84;
  }
  footer #allFooter .mid .mid__blocks .mid__blocks__servicios .mid__blocks__servicios__blockUnit {
    height: 150px;
  }
  footer #allFooter .mid .mid__blocks .mid__blocks__servicios .mid__blocks__servicios__blockUnit .mid__blocks__servicios__blockUnit__nav__ul {
    list-style: none;
  }
  footer #allFooter .mid .mid__blocks .mid__blocks__servicios .mid__blocks__servicios__blockUnit .mid__blocks__servicios__blockUnit__nav__ul .mid__blocks__servicios__blockUnit__nav__ul__element a {
    text-decoration: none;
  }
  footer #allFooter .mid .mid__blocks .mid__blocks__servicios .mid__blocks__servicios__blockUnit .mid__blocks__servicios__blockUnit__nav__ul .mid__blocks__servicios__blockUnit__nav__ul__element a:visited {
    color: #285A84;
  }
  footer #allFooter .mid .mid__blocks .mid__blocks__servicios .mid__blocks__servicios__blockUnit .mid__blocks__servicios__blockUnit__nav__ul .mid__blocks__servicios__blockUnit__nav__ul__element a .mid__blocks__servicios__blockUnit__nav__ul__element--text span {
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
    color: #285A84;
  }
  footer #allFooter .mid .mid__blocks .mid__blocks__servicios .mid__blocks__servicios__blockUnit .mid__blocks__servicios__blockUnit__nav__ul .mid__blocks__servicios__blockUnit__nav__ul__element a .mid__blocks__servicios__blockUnit__nav__ul__element--text span:hover {
    color: #F7FFF7;
  }
  footer #allFooter .bottom {
    background-color: #0F0D0C;
    max-height: 100px;
  }
  footer #allFooter .bottom .bottom__copyright .bottom__copyright__text {
    left: 0px;
    top: 0px;
  }
  footer #allFooter .bottom .bottom__copyright .bottom__copyright__text p {
    font-size: 20px;
    color: #F7FFF7;
    text-align: center;
  }
}
/*MEDIA PARA EL INDEX VERSIÓN MOBILE*/
@media (max-width: 768px) and (min-width: 400px) {
  #frontInf {
    height: auto;
    width: auto;
    background-color: #F7FFF7;
    display: grid;
    grid-template-areas: ". topMain ." ". secondBanner .";
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
    gap: 15px;
  }
  #frontInf .topMain {
    grid-area: topMain;
    width: 100%;
    height: 100%;
    max-height: 106px;
  }
  #frontInf .topMain .carrouselContainer .carrouselContainer__elements__slides {
    width: 100%;
    height: 100%;
  }
  #frontInf .topMain .carrouselContainer .carrouselContainer__elements__slides .carrouselContainer__elements__slides--img {
    width: 100%;
    height: 100%;
    border: solid 1px #06172B;
  }
  #frontInf .topMain .carrouselContainer .carrouselContainer__elements__slides .carrouselContainer__elements__slides--img img {
    width: 100%;
    height: 100%;
    max-height: 84%;
  }
  #frontInf .topMain .carrouselContainer .carrouselContainer__elements__slides .carrouselContainer__elements__slides--img h1 {
    max-height: 25%;
    font-size: 16.5px;
    border: solid;
    border-color: #06172B;
    font-family: "Roboto Slab", serif;
    color: #982649;
  }
  #frontInf .secondBanner {
    grid-area: secondBanner;
    min-height: 100px;
    border: solid 1px #06172B;
    margin-bottom: 10px;
  }
  #frontInf .secondBanner .secondBanner__elements .secondBanner__elements__title {
    min-width: 100px;
    left: 80%;
  }
  #frontInf .secondBanner .secondBanner__elements .secondBanner__elements__title h2 {
    color: #06172B;
    font-size: 55%;
  }
  #frontInf .information {
    display: none;
  }
  #shopGallery {
    margin-bottom: 15px;
  }
  #shopGallery .directShop1,
  #shopGallery .directShop2,
  #shopGallery .directShop3,
  #shopGallery .directShop4 {
    border: solid 1px #06172B;
  }
  #topSale {
    display: none;
  }
}
/*MEDIA PARA ABOUT VERSIÓN MOBILE*/
@media (max-width: 768px) and (min-width: 400px) {
  #about {
    grid-template-areas: ". banner ." ". principalAbout .";
    grid-template-rows: repeat(2, auto);
    grid-template-columns: auto auto;
    gap: 5px;
  }
  #about .banner {
    grid-area: banner;
    border: solid 1px #06172B;
  }
  #about .principalAbout {
    grid-area: principalAbout;
    margin-top: 5px;
  }
  #about .principalAbout .principalAbout__titulo {
    font-size: 15px;
  }
  #about .principalAbout .principalAbout__titulo h1 {
    font-size: 20px;
    color: #982649;
    font-weight: bolder;
  }
  #about .principalAbout .principalAbout__text {
    font-size: 15px;
  }
  #about .principalAbout .principalAbout__text h2 {
    font-size: 17px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 15px;
  }
}
@keyframes agitar {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  90% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/*# sourceMappingURL=style.css.map */
