/*ESTILOS MAIN DEL INDEX*/

#frontInf {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-areas: ". topMain topMain topMain ." ". secondBanner secondBanner secondBanner ." ". information information information .";
  grid-template-rows: auto auto auto;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;

  .topMain {
    grid-area: topMain;
    width: auto;
    height: auto;

    .carrouselContainer__elements__slides--img {
      display: flex;     
      flex-direction: column; 
      justify-content: flex-end;

      img {
      width: 100%;
      height: 100%;
      position: relative;      
      }
  
      h1 {
      position: absolute;
      border: solid;
      border-color: #0F0D0C;
      font-family: 'Roboto Slab', serif;
      font-size: 25px;
      color: #982649;
      background: rgb(130, 130, 138);
      background: linear-gradient(121deg, rgba(130, 130, 138, 1) 0%, rgba(255, 255, 255, 1) 45%, rgba(152, 152, 152, 1) 100%);
      }
    }
  }

  .secondBanner {
    grid-area: secondBanner;
    width: auto;
    height: auto;

    .secondBanner__elements {
      width: 100%;
      height: 100%;
      position: relative;
      display: inline-block;
      text-align: center;

      .secondBanner__elements__img {
        height: 100%;
        width: auto;

        a img {
          width: 100%;
          height: 100%;
        }
      }

      .secondBanner__elements__title {
        width: auto;
        height: 100%;
        border: solid;
        border-color: #0F0D0C;
        position: absolute;
        top: 50%;
        left: 85%;
        transform: translate(-50%, -50%);

        h2 {
          width: 100%;
          height: 100%;
          font-family: 'Barlow', sans-serif;
          font-size: 17px;
          font-weight: bold;
          text-align: center;
          background: rgb(130, 130, 138);
          background: linear-gradient(121deg, rgba(130, 130, 138, 1) 0%, rgba(255, 255, 255, 1) 45%, rgba(152, 152, 152, 1) 100%);
        }
      }
    }
  }

  .information {
    grid-area: information;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 25px;

    .information__card {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    
      a img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

#shopGallery {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas: ". directShop1 directShop2 ." ". directShop3 directShop4 .";
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: auto auto auto auto;
  gap: 15px;

  .directShop1 {
    grid-area: directShop1;
    width: auto;
    height: auto;
  
    a img {
      width: 100%;
    }
  }
  
  .directShop2 {
    grid-area: directShop2;
    width: auto;
    height: auto;
  
    a img {
      width: 100%;
    }
  }
  
  .directShop3 {
    grid-area: directShop3;
    width: auto;
    height: auto;
  
    a img {
      width: 100%;
    }
  }
  
  .directShop4 {
    grid-area: directShop4;
    width: auto;
    height: auto;
  
    a img {
      width: 100%;
    }
  }
}

#topSale{
  margin-bottom: 20px;

  .saleElements {
    height: auto;
    width: auto;
    max-width: 1920px;
    display: grid;
    grid-template-areas: ". saleElements__title saleElements__title saleElements__title ." "saleElements__card1 saleElements__card2 saleElements__card3 saleElements__card4 saleElements__card5" ". . saleElements__button . .";
    grid-template-rows: auto auto auto;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;

    .saleElements__title {
      grid-area: saleElements__title;
    
      h4 {
        font-family: 'Roboto Slab', serif;
        font-size: 32px;
        font-weight: bold;
        text-decoration-color: #0F0D0C;
        text-align: center;
      }
    
      h5 {
        font-family: 'Barlow', sans-serif;
        font-size: 30px;
        text-decoration-color: #0F0D0C;
        text-align: center;
      }      
    }

    .saleElements__card1 {
      grid-area: saleElements__card1;
      width: auto;
      height: auto;
      max-height: 465px;
      display: grid;
    
      a img {
        width: 100%;
        height: 100%;
        max-height: 350px;
      }
    
      h6 {
        text-align: center;
        font-family: 'Barlow', sans-serif;
        font-size: 20px;
        font-weight: 500;
      }
    
      p {
        text-align: center;
        font-family: 'Barlow', sans-serif;
        font-size: 20px;
        font-weight: 400;
      }
    
      button {
        width: 224px;
        height: 36px;
        background-color: #06172B;
        border-radius: 1ch;
        border: solid;
        border-color: #06172B;
        justify-self: center;
    
        p {
          font-family: 'Barlow', sans-serif;
          font-size: 20px;
          font-weight: 500;
          color: #F7FFF7;
        }
      }
    }
    
    .saleElements__card2 {
      grid-area: saleElements__card2;
      width: auto;
      height: auto;
      max-height: 465px;
      display: grid;
    
      a img {
        width: 100%;
        height: 100%;
      }
    
      h6 {
        text-align: center;
        font-family: 'Barlow', sans-serif;
        font-size: 20px;
        font-weight: 500;
      }
    
      p {
        text-align: center;
        font-family: 'Barlow', sans-serif;
        font-size: 20px;
        font-weight: 400;
      }
    
      button {
        width: 224px;
        height: 36px;
        background-color: #06172B;
        border-radius: 1ch;
        border: solid;
        border-color: #06172B;
        justify-self: center;
    
        p {
          font-family: 'Barlow', sans-serif;
          font-size: 20px;
          font-weight: 500;
          color: #F7FFF7;
        }
      }
    }
    
    .saleElements__card3 {
      grid-area: saleElements__card3;
      width: auto;
      height: auto;
      max-height: 465px;
      display: grid;
    
      a img {
        width: 100%;
        height: 100%;
      }
    
      h6 {
        text-align: center;
        font-family: 'Barlow', sans-serif;
        font-size: 20px;
        font-weight: 500;
      }
    
      p {
        text-align: center;
        font-family: 'Barlow', sans-serif;
        font-size: 20px;
        font-weight: 400;
      }
    
      button {
        width: 224px;
        height: 36px;
        background-color: #06172B;
        justify-self: center;
        border-radius: 1ch;
        border: solid;
        border-color: #06172B;
    
        p {
          font-family: 'Barlow', sans-serif;
          font-size: 20px;
          font-weight: 500;
          color: #F7FFF7;
        }
      }
    }
    
    .saleElements__card4 {
      grid-area: saleElements__card4;
      width: auto;
      height: auto;
      max-height: 465px;
      display: grid;
    
      a img {
        width: 100%;
        height: 100%;
      }
    
      h6 {
        text-align: center;
        font-family: 'Barlow', sans-serif;
        font-size: 20px;
        font-weight: 500;
      }
    
      p {
        text-align: center;
        font-family: 'Barlow', sans-serif;
        font-size: 20px;
        font-weight: 400;
      }
    
      button {
        width: 224px;
        height: 36px;
        background-color: #06172B;
        border-radius: 1ch;
        border: solid;
        border-color: #06172B;
        justify-self: center;
    
        p {
          font-family: 'Barlow', sans-serif;
          font-size: 20px;
          font-weight: 500;
          color: #F7FFF7;
        }
      }
    }
    
    .saleElements__card5 {
      grid-area: saleElements__card5;
      width: auto;
      height: auto;
      max-height: 465px;
      display: grid;
    
      a img {
        width: 100%;
        height: 100%;
      }
    
      h6 {
        text-align: center;
        font-family: 'Barlow', sans-serif;
        font-size: 20px;
        font-weight: 500;
      }
    
      p {
        text-align: center;
        font-family: 'Barlow', sans-serif;
        font-size: 20px;
        font-weight: 400;
      }
    
      button {
        width: 224px;
        height: 36px;
        background-color: #06172B;
        border-radius: 1ch;
        border: solid;
        border-color: #06172B;
        justify-self: center;
    
        p {
          font-family: 'Barlow', sans-serif;
          font-size: 20px;
          font-weight: 500;
          color: #F7FFF7;
        }
      }
    }

    .saleElements__button {
      grid-area: saleElements__button;
      width: 344px;
      height: 56px;
      background-color: #CF0010;
      border-radius: 4ch;
      border: solid;
      border-color: #CF0010;
      margin-top: 10px;
    
      button {
        height: 100%;
        width: 100%;
        border: none;
        background-color: #CF0010;
        border-radius: 4ch;
        display: grid;
        
    
        p {
          font-family: 'Barlow', sans-serif;
          font-size: 20px;
          font-weight: 500;
          color: #F7FFF7;
          background-color: #CF0010;
          border-radius: 4ch;
          margin-bottom: 0;
          align-self: center;
        }
      }
    }
  }
}

/*ESTILOS MAIN DE ABOUT*/

#about {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-areas: ". banner banner banner ." ". principalAbout principalAbout principalAbout .";
  gap: 15px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  margin-bottom: 15px;

  .banner {
    grid-area: banner;
    max-height: 428px;
    width: auto;
  
    img {
      width: 100%;
      height: 100%;
    }
  }

  .principalAbout {
    grid-area: principalAbout;
    height: auto;
    width: auto;

    .principalAbout__titulo, .principalAbout__text{
      height: auto;
      width: auto;
      font-family: 'Barlow', sans-serif;
      font-size: 25px;
      color: #0F0D0C;
      font-weight: 400;
    
    }
    
    .principalAbout__titulo h1{
      font-size: 40px;
      color: #982649;
      font-weight: bolder;
    }
    
    .principalAbout__text h2{
      font-size: 30px;
      font-weight: 500;
      margin-top: 20px;
      margin-bottom: 15px;
    }
  }
}

/*MAIN DE SECCIÓN LOCALES*/

#containerLocales {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-areas: ". banner banner banner ." ". locales locales locales .";
  gap: 15px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);

  .banner {
    grid-area: banner;
    max-height: 428px;
    width: auto;
    min-height: 261.65px;
    
    img {
      width: 100%;
      height: 100%;
    }
  }

  .locales {
    grid-area: locales;
    display: grid;
  
    .locales__text {
      height: auto;
      width: auto;
      text-align: left;
    
      h1 {
        font-family: 'Barlow', sans-serif;
        font-size: 40px;
        color: #982649;
        font-weight: bolder;
      }
    
      p {
        font-family: 'Barlow', sans-serif;
        font-size: 25px;
        color: #0F0D0C;
        font-weight: 400;
      }
    }
  
    .locales__search {
      width: 100%;
      height: 100%;
      max-height: 60px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    
      .locales__search__formButton {
        height: 100%;
        width: 100%;
        max-height: 57px;
        max-width: 170px;
        background-color: #F7FFF7;
        color: #0F0D0C;
        border-color: #982649;
        font-weight: bold;      
      }
    }
  
    .locales__map {
      width: auto;
      height: auto;
      min-width: 600px;
      min-height: 450px;
      border: solid 1px #06172B;
      margin-top: 15px;
      margin-bottom: 15px;
      justify-self: center;
    
      iframe {
        width: 100%;
        height: 100%;
        max-width: 600px;
        min-height: 450px;
      }
    }
    
  }
}


/*MAIN DE LA SECCIÓN DEL SHOP*/

#conteinerShop {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas: ". bannerShop bannerShop bannerShop ." ". tituloShop tituloShop tituloShop ." "filtrosContainer cardsContainer cardsContainer cardsContainer ." ". cardsContainer cardsContainer cardsContainer ." ". cardsContainer cardsContainer cardsContainer ." ". . saleElements__button . .";
  gap: 15px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto auto auto auto auto auto;

  .bannerShop{
    grid-area: bannerShop;
    max-height: 428px;
    width: 100%;
  
    img{
      width: 100%;
      height: auto;
    }
  }

  .tituloShop{
    grid-area: tituloShop;
    
    h1{
      font: $titulo-principal;
      color: #982649;
      text-align: center;
    }
  }

  .filtrosContainer{
    grid-area: filtrosContainer;
    background-color: #F7FFF7;
    display: flex;
    flex-direction: column;  
    border: #0F0D0C solid 1px;
    max-height: 285px;
  
    .filtros__list{
      list-style: none;
      padding: 0px;
      margin: 0px;
    
      li{
        border: #0F0D0C solid 1px;
      }
    }
  }

  .cardsContainer{
    grid-area: cardsContainer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height: 1100px;
  
    .saleElements__card{
      max-height: 550px;
      width: 100%;
      max-width: 370px;
      display: grid;
      margin-bottom: 6px;
    
      .saleElements__card__img{
        width: 100%;
        max-width: 280px;
        justify-self: center;
      
        img{
          width: auto;
          max-width: 280px;
          border: 1px solid #0F0D0C;
        }
      }
    
      .saleElements__card__text{
    
        margin-top: 10px;
      
        h6{
          text-align: center;
          font-family: 'Barlow', sans-serif;
          font-size: 20px;
          font-weight: 500;
        }
      
        p{
          text-align: center;
          font-family: 'Barlow', sans-serif;
          font-size: 20px;
          font-weight: 400;
        }
      }
    
      .saleElements__card__button{
        max-width: 225px;
        justify-self: center;
      
        button{
          width: 224px;
          height: 36px;
          background-color: #06172B;
          border-radius: 1ch;
          border: solid;
          border-color: #06172B;
          justify-self: center;
          
          p{
            font-family: 'Barlow', sans-serif;
            font-size: 20px;
            font-weight: 500;
            color: #F7FFF7;
          }
        }
      }  
    }
  }

  .saleElements__button {
    grid-area: saleElements__button;
    width: 344px;
    height: 56px;
    background-color: #CF0010;
    border-radius: 4ch;
    border: solid;
    border-color: #CF0010;
    margin-top: 10px;
    margin-bottom: 20px;
  
    button {
      height: 100%;
      width: 100%;
      border: none;
      background-color: #CF0010;
      border-radius: 4ch;
      display: grid;
      
  
      p {
        font-family: 'Barlow', sans-serif;
        font-size: 20px;
        font-weight: 500;
        color: #F7FFF7;
        background-color: #CF0010;
        border-radius: 4ch;
        margin-bottom: 0;
        align-self: center;
      }
    }
  }
}

/*MAIN DE LA SECCIÓN NOVEDADES*/

#newsContainer{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas: ". banner banner banner ."
  ". contenidoPrincipal contenidoPrincipal advertisingBanner ."
  ". widget1 widget2 advertisingBanner .";
  gap: 15px;
  grid-template-columns: auto 382px 382px 382px auto;
  grid-template-rows: repeat(3, auto);

  .banner{
    grid-area: banner;
    width: 100%;
  
    img{
      width: 100%;
      height: 100%;
    }
  }

  .contenidoPrincipal{
    grid-area: contenidoPrincipal;
    height: 100%;
    width: 100%;
    
    .contenidoPrincipal__titulo{
      font: $titulo-principal;
      color: #982649;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 15px;
    }
  
    .contenidoPrincipal__text{
      max-height: 80%;
      font-family: 'Barlow', sans-serif;
      font-size: 180%;
      color: #0F0D0C;
      font-weight: normal;
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      
    }
  }

  .advertisingBanner{
    grid-area: advertisingBanner;
    width: 100%;
    height: 100%;
    
    img {
      height: 100%;
      width: 100%;    
    }  
  }

  .widget1{
    color: #F7FFF7;
    grid-area: widget1;
    height: 100%;
    width: 100%;
  
    img{
      width: 100%;
      height: 100%;
    }
  }

  .widget2{
    color: #F7FFF7;
    grid-area: widget2;
    height: auto;
    width: auto;
  
    img{
      width: 100%;
      height: 100%;  
    }
  }
}    


/*MAIN DE LA SECCIÓN CONTACT*/

#containerContact{
  height: auto;
  width: 100vw;
  display: grid;
  grid-template-areas: ". bannerContact bannerContact bannerContact ."
  ". contact__text contact__text contact__text ."
  ". contact__form contact__form contact__form .";
  gap: 15px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, auto);

  .bannerContact{
    grid-area: bannerContact;
    max-height: 261.65px;
    width: auto;
  
    img{
      width: 100%;
      height: 100%;
    }
  }

  .contact__text{
    grid-area: contact__text;
    width: auto;
    height: auto;
  
    h1{
      font: $titulo-principal;
      color: #982649;      
    }
  
    p{
      font-family: 'Barlow', sans-serif;
      font-size: 39px;
      color: #0F0D0C;
      font-weight: 600;
    }
  }

  .contact__form {
    grid-area: contact__form;
  
    span{
      font-family: 'Barlow', sans-serif;
      font-size: 36px;
      color: #0F0D0C;
      font-weight: 500;
    }

    form{
      display: grid;
    }
  
    .labels{    
      font-family: 'Barlow', sans-serif;
      font-size: 30px;
      color: #0F0D0C;
      font-weight: 500;
    }
    
    .inputContainer{
      display: grid;
      align-content: center;
    }

    .buttonContact{
      max-width: 80px;
      justify-self: center;
    }
  }
}   



































































