/*MEDIA PARA EL HEADER VERSIÓN MOBILE*/

@media (max-width: 1392px) and (min-width: 300px) {
  header {
    height: 150px;
    width: auto;
    display: grid;
    grid-template-areas: "flagColor1 flagColor1 flagColor1" "flagColor2 flagColor2 flagColor2" "logoContainer . navContainer";
    grid-template-rows: 22.2px 18.2px auto;
    grid-template-columns: repeat(3, 1fr);

    .flagColor1 {
      grid-area: flagColor1;
      width: 360px;
      height: 22.2px;
      background-color: #06172B;
      width: 100%;
    }
  
    .flagColor2 {
      grid-area: flagColor2;
      width: 360px;
      height: 18.2px;
      background-color: #982649;
      width: 100%;
    }
  
    .logoContainer {
      grid-area: logoContainer;
      left: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }
  
    .navContainer {
      grid-area: navContainer;
      height: 110px;
      width: 100%;
      display: grid;
      align-items: center;
  
      .navContainer__menu {
        background-image: url(/sources/images/menuMobile.svg);
        width: 28px;
        height: 28px;
        justify-self: center;
    
        ul {
          display: none;
          list-style: none;
        }
      }
    }
  }
  
  
}

/*MEDIA PARA EL HEADER VERSIÓN MOBILE*/

@media (max-width: 1392px) and (min-width:300px) {
  footer {
    #allFooter {
      width: auto;
      height: auto;

      .top {
        display: none;
      }

      .mid {
        background-color: #06172B;
        position: relative;
        height: 100%;
        width: 100%;

        .mid__blocks {
          height: 100%;
          width: 100%;
          left: 0px;
          display: grid;
          grid-template-areas: "mid__blocks__institucional mid__blocks__legal" "mid__blocks__cliente mid__blocks__servicios";
          grid-template-rows: auto auto;
          grid-template-columns: repeat(2, 1fr);
          gap: 10px;

          .mid__blocks__institucional {
            width: 170px;
            height: 200px;
            margin-right: 0px;
            grid-area: mid__blocks__institucional;
            display: grid;
            justify-items: center;
            width: 100%;

            .mid__blocks__institucional__title{
              height: 30px;

              span {
                font-family: 'Barlow', sans-serif;
                font-size: 16px;
                font-weight: bold;
                color: #285A84;
              }
            }            

            .mid__blocks__institucional__blockUnit {
              height: 150px;

              .mid__blocks__institucional__blockUnit__nav__ul {
                list-style: none;
                margin: 0;

                .mid__blocks__institucional__blockUnit__nav__ul__element a {
                  text-decoration: none;

                  .mid__blocks__institucional__blockUnit__nav__ul__element--text span {
                    font-family: 'Barlow', sans-serif;
                    font-size: 16px;
                    font-weight: normal;
                    display: inline-block;
                    color: #285A84;

                    &:hover {
                      color: #F7FFF7;
                    }
                  }
                }
              }
            }
          }

          .mid__blocks__legal {
            width: 131px;
            height: 200px;
            margin-right: 0px;
            bottom: 0px;
            grid-area: mid__blocks__legal;
            display: grid;
            justify-items: center;
            width: 100%;

            .mid__blocks__legal__title{
              height: 30px;

              span {
                font-family: 'Barlow', sans-serif;
                font-size: 16px;
                font-weight: bold;
                color: #285A84;
              }
            }
            

            .mid__blocks__legal__blockUnit {
              height: 150px;

              .mid__blocks__legal__blockUnit__nav__ul {
                list-style: none;

                .mid__blocks__legal__blockUnit__nav__ul__element a {
                  text-decoration: none;

                  .mid__blocks__legal__blockUnit__nav__ul__element--text span {
                    font-family: 'Barlow', sans-serif;
                    font-size: 16px;
                    font-weight: normal;
                    display: inline-block;
                    color: #285A84;

                    &:hover {
                      color: #F7FFF7;
                    }
                  }
                }
              }
            }
          }

          .mid__blocks__cliente {
            width: 170px;
            height: 230px;
            margin-right: 0px;
            grid-area: mid__blocks__cliente;
            display: grid;
            justify-items: center;
            width: 100%;

            .mid__blocks__cliente__title{
              height: 30px;
              
              span {
                font-family: 'Barlow', sans-serif;
                font-size: 16px;
                font-weight: bold;
                color: #285A84;
              }
            }            

            .mid__blocks__cliente__blockUnit {
              height: 150px;

              .mid__blocks__cliente__blockUnit__nav__ul {
                list-style: none;

                .mid__blocks__cliente__blockUnit__nav__ul__element a {
                  text-decoration: none;

                  .mid__blocks__cliente__blockUnit__nav__ul__element--text span {
                    font-family: 'Barlow', sans-serif;
                    font-size: 16px;
                    font-weight: normal;
                    display: inline-block;
                    color: #285A84;

                    &:hover {
                      color: #F7FFF7;
                    }
                  }
                }
              }
            }
          }

          .mid__blocks__servicios {
            width: 131px;
            height: 230px;
            margin-right: 0px;
            bottom: 0px;
            grid-area: mid__blocks__servicios;
            display: grid;
            justify-items: center;
            width: 100%;

            .mid__blocks__servicios__title{
              height: 30px;

              span {
                font-family: 'Barlow', sans-serif;
                font-size: 16px;
                font-weight: bold;
                color: #285A84;
              }
            }
            

            .mid__blocks__servicios__blockUnit {
              height: 150px;

              .mid__blocks__servicios__blockUnit__nav__ul {
                list-style: none;

                .mid__blocks__servicios__blockUnit__nav__ul__element a {
                  text-decoration: none;

                  &:visited {
                    color: #285A84;
                  }

                  .mid__blocks__servicios__blockUnit__nav__ul__element--text span {
                    font-family: 'Barlow', sans-serif;
                    font-size: 16px;
                    font-weight: normal;
                    display: inline-block;
                    color: #285A84;

                    &:hover {
                      color: #F7FFF7;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .bottom {
        background-color: #0F0D0C;
        max-height: 100px;

        .bottom__copyright {

          .bottom__copyright__text {
            left: 0px;
            top: 0px;

            p {
              font-size: 20px;
              color: #F7FFF7;
              text-align: center;
            }
          }
        }
      }


    }
  }
}

/*MEDIA PARA EL INDEX VERSIÓN MOBILE*/

@media (max-width: 1802px) and (min-width: 300px) {
  #frontInf {
    height: auto;
    width: auto;
    background-color: #F7FFF7;
    display: grid;
    grid-template-areas: ". topMain ." ". secondBanner .";
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
    gap: 15px;

    .topMain {
      grid-area: topMain;
      width: 100%;
      height: 100%;
      
    
      .carrouselContainer {
        
        .carrouselContainer__elements__slides {
          width: 100%;
          height: 100%;
    
          .carrouselContainer__elements__slides--img {
            width: 100%;
            height: 100%;
            border: solid 1px #06172B;
    
            img {
              width: 100%;
              height: 100%;
              max-height: 84%;
            }
    
            h1 {
              max-height: 25%;
              font-size: 5vw;
              border: solid;
              border-color: #06172B;
              font-family: 'Roboto Slab', serif;
              color: #982649;
            }
    
          }
        }
      }
    }
    
    .secondBanner {
      grid-area: secondBanner;
      min-height: 100px;
      border: solid 1px #06172B;
      margin-bottom: 10px;

      .secondBanner__elements{

        .secondBanner__elements__title {
          min-width: 100px;
          left: 80%;
  
          h2 {
            color: #06172B;
            font-size: 1.7vw;
          }
        }
      }
    }

    .information{
      display: none;
    }
  }

  #shopGallery {
    margin-bottom: 15px;
    .directShop1,
    .directShop2,
    .directShop3,
    .directShop4 {
    border: solid 1px #06172B;
    }
  }

  #topSale {
    display: none;
  }
}


/*MEDIA PARA ABOUT VERSIÓN MOBILE*/

@media (max-width: 1392px) and (min-width: 300px) {
  #about {
    grid-template-areas: ". banner ." ". principalAbout .";
    grid-template-rows: repeat(2, auto);
    grid-template-columns: auto auto auto;
    gap: 5px;

    .banner {
      grid-area: banner;
      border: solid 1px #06172B;
    }

    .principalAbout {
      grid-area: principalAbout;
      margin-top: 5px;

      .principalAbout__titulo {
        font-size: 15px;

        h1{
          font-size: 20px;
          color: #982649;
          font-weight: bolder;
        }
      }

      .principalAbout__text{
        font-size: 15px;

        h2{
          font-size: 17px;
          font-weight: 500;
          margin-top: 20px;
          margin-bottom: 15px;
        }
      }
    }
  }  
}

/*MEDIA PARA LA SECCIÓN LOCALES*/

@media (max-width: 1392px) and (min-width: 300px) {

  #containerLocales {
    grid-template-areas: ". banner ." ". locales .";
    grid-template-rows: 102.65px auto;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    
    .banner{
      grid-area: banner;
      width: 100%;
      height: 100%;      
      
      img{
        max-height: 102.65px;
        border: solid 2px #06172B;
      }
  
    }

    .locales{
      grid-area: locales;
  
      .locales__text {
        font-size: 18px;
      }
  
      .locales__search{
        min-height: 120px;
        display: flex;     
        flex-direction: row; 
        justify-content: flex-start;
      }
  
      .locales__map{
        min-width: 390px;
    
        iframe{
          max-width: 400px; 
        }
      }
    }
  }
  
}

/*MEDIA PARA SECCIÓN SHOP*/

@media (max-width: 1392px) and (min-width: 300px) {

  #conteinerShop {
    grid-template-areas:". bannerShop ." ". tituloShop ." ". cardsContainer ." ". cardsContainer ." ". cardsContainer ." ". cardsContainer ." ". cardsContainer ." ". cardsContainer ." ". cardsContainer ." ". cardsContainer ." ". cardsContainer ." ". cardsContainer ." ". saleElements__button ."; 
    grid-template-rows: repeat(11, auto);
    grid-template-columns: auto auto auto;
    gap: 5px;    

    .bannerShop{
      grid-area: bannerShop;
      display: flex;
      flex-direction: row;
      justify-content: center;      
      
      img{
        min-height: 102.65px;
        max-width: 370px;
        border: solid 2px #06172B;
      }
    }

    .tituloShop{
      grid-area: tituloShop;
      h1{
        font-size: 18px;
      }
    }

    .filtrosContainer{
      display: none;
    }

    .cardsContainer{
      grid-area: cardsContainer;
      margin-top: 15px;      
      overflow: hidden;
  
      .saleElements__card{
        margin-top: 18px;
        margin-bottom: 25px;
      }
    }
    
    .saleElements__button{
      grid-area: saleElements__button;
      width: 70%;
      justify-self: center;
    }
  }
}

/*MEDIA PARA SECCIÓN NOVEDADES*/

@media (max-width: 1392px) and (min-width: 300px) {

  #newsContainer {
    grid-template-areas: ". banner ." ". contenidoPrincipal ." ". advertisingBanner ." ". widget1 ." ". widget2 .";
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: auto 80% auto;
    gap: 5px;
    
    
    .banner {
      grid-area: banner;
      min-width: 374px;
      border: solid 2px #06172B;
    }

    .contenidoPrincipal {
      grid-area: contenidoPrincipal;
      border: solid 2px #06172B;
      display: grid;
      justify-items: center;
  
      .contenidoPrincipal__titulo {
        font-size: 25px;
      }
  
      .contenidoPrincipal__text {
        font-size: 17px;
        margin-top: 5px;
        max-width: 80%;
        max-height: 90%;        
      }
    }

    .advertisingBanner {
      grid-area: advertisingBanner;
      max-height: 400px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      

      img{
        max-width: 75%;
        border: solid 2px #06172B;        
      }
    }

    .widget1 {
      grid-area: widget1;
      min-height: 250px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      
      img{
        max-width: 75%;
        border: solid 2px #06172B;
      }
    }

    .widget2 {
      grid-area: widget2;
      min-height: 250px;
      min-width: 282px;
      margin-top: 5px;
      margin-bottom: 5px;
      display: flex;
      flex-direction: row;
      justify-content: center;

      img{
        max-width: 75%;
        border: solid 2px #06172B;
      }
    }
  }
}

/*MEDIA PARA SECCIÓN CONTACT*/

@media (max-width: 1392px) and (min-width: 300px) {

  #containerContact {
    grid-template-areas: ". bannerContact ." ". contact__text ." ". contact__form .";
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;

    .bannerContact{
      grid-area: bannerContact;
      min-width: 374px;
      border: solid 2px #06172B;
    }

    .contact__text{
      grid-area: contact__text;
  
      h1{
        font-size: 35px;
      }
  
      p{
        font-size: 18px;
      }  
    }

    .contact__form{
      grid-area: contact__form;
      
      span{
        font-size: 18px;
      }

      .labels{
        font-size: 18px;
      }
    }
  }
}