<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CoffeeGuy</title>
        <link rel="stylesheet" href="../css/index.css">
        <link rel="shortcut icon" href="../sources/images/Coffee Guy 2 2 logoVsCode.svg" type="image/x-icon">
    
        <link rel="preconnect" href="https://fonts.googleapis.com">
    
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Roboto+Slab&display=swap"
            rel="stylesheet">
    
    
    </head>

<body>

    <header>

        <div class="flagColor1"></div>
        <div class="flagColor2"></div>

        <div class="logoContainer">

            <a href="../index.html">
                <img src="../sources/images/coffeeGuyLogo.svg" alt="Logo del sitio que dice Coffee Guy">
            </a>

        </div>


        <div class="navContainer">

            <nav class="navContainer__menu">

                <ul>
                    <li>
                        <a href="./about.html">
                            <span>Nosotros</span>
                        </a>
                    </li>
    
                    <li style="width: 79px;">
                        <a href="./locales.html">
                            <span>Locales</span>
                        </a>
                    </li>
    
                    <li style="width: 52px;">
                        <a href="./shop.html">
                            <span>Shop</span>
                        </a>
                    </li>
    
                    <li style="width: 114px;">
                        <a href="./novedades.html">
                            <span>Novedades</span>
                        </a>
                    </li>
    
                    <li>
                        <a href="./contact.html">
                            <span>Contacto</span>
                        </a>
                    </li>
    
                </ul>
    
            </nav>
        </div>



    </header>

    <main id="newsContainer">
    
        <div class="banner">
            <img src="../sources/images/bannerNews.jpg" alt="two women watching a computer and drinking a cup of coffee">
        </div>
    
        <div class="contenidoPrincipal">
        
            <h1 class="contenidoPrincipal__titulo">Nuevo blend, exclusivo para gamers exigentes!</h1>
        
            <p class="contenidoPrincipal__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem voluptate quia
                corrupti pariatur animi eaque!
                Voluptates ratione consectetur ad sed vero perferendis nam molestias sunt, tenetur praesentium maiores
                sapiente velit!
                Excepturi voluptatum molestiae sint sed saepe, perferendis debitis magnam cumque itaque, error accusantium
                obcaecati in labore, natus dolore doloremque unde laboriosam. Repellat laboriosam, eos in molestiae facilis
                ad hic eius.
                Quaerat nihil quidem omnis ut sed eos quos cum porro corrupti similique et facilis voluptate iusto sunt
                dolorem dignissimos alias rem rerum, tempora commodi nesciunt voluptatum. Iste aliquid atque perspiciatis?
                Omnis illum voluptate consequatur quae quas exercitationem expedita inventore suscipit quo et soluta cumque,
                excepturi temporibus odio aspernatur aut accusantium mollitia quia voluptatum totam itaque. Provident
                accusamus minima suscipit aut?
            </p>
        
        </div>
    
        <aside class="advertisingBanner">
    
            <img src="../sources/images/asideBanner.jpg" alt="a hand with a coffee in a cardboard cup">
    
        </aside>
    
        <div class="widget1">
            <img src="../sources/images/widget1Lite.jpg" alt="New coffee blend advertising">
        </div>
    
        <div class="widget2">
            <img src="../sources/images/widget2Lite.jpg" alt="">
        </div>
    
    
    </main>




<footer>

    <section id="allFooter">

        <div class="top">


            <div class="top__newsLetter">

                <p class="top__newsLetter__info">Recibí todas nuestras <span>PROMOCIONES Y NOVEDADES</span></p>

                <form class="top__newsLetter__mail" action="">

                    <input class="top__newsLetter__mail__text" type="email" name="" id=""
                        placeholder="Ingresá tu dirección de correo electrónico">

                    <button>

                        <img src="../sources/images/mailButton.svg" alt="button with a letter image">

                    </button>

                </form>

            </div>

            <div class="top__socialMedia">
            
                <div class="top__socialMedia__container">
                    <a href=""><img src="../sources/images/facebook.svg" alt="Facebook icon" class="top__socialMedia__anime"></a>
                    <a href=""><img src="../sources/images/instagram.svg" alt="Instagram icon" class="top__socialMedia__anime"></a>
                    <a href=""><img src="../sources/images/twitter.svg" alt="Twitter icon" class="top__socialMedia__anime"></a>
                    <a href=""><img src="../sources/images/linkedin.svg" alt="Linkedin icon" class="top__socialMedia__anime"></a>
                    <a href=""><img src="../sources/images/youtube.svg" alt="icon" class="top__socialMedia__anime"></a>
                </div>           
            
            </div>


        </div>

        <div class="mid">

            <div class="mid__blocks">

                <div class="mid__blocks__institucional">

                    <div class="mid__blocks__institucional__title">
                        <span>Institucional</span>
                    </div>

                    <div class="mid__blocks__institucional__blockUnit">
                        <nav class="mid__blocks__institucional__blockUnit__nav">
                            <ul class="mid__blocks__institucional__blockUnit__nav__ul">
                                <li class="mid__blocks__institucional__blockUnit__nav__ul__element">

                                    <a href="">
                                        <div class="mid__blocks__institucional__blockUnit__nav__ul__element--text">
                                            <span>Lorem ipsum</span>
                                        </div>
                                    </a>

                                </li>


                                <li class="mid__blocks__institucional__blockUnit__nav__ul__element">

                                    <a href="">
                                        <div class="mid__blocks__institucional__blockUnit__nav__ul__element--text">
                                            <span>dolor sit</span>
                                        </div>
                                    </a>

                                </li>

                                <li class="mid__blocks__institucional__blockUnit__nav__ul__element">

                                    <a href="">
                                        <div class="mid__blocks__institucional__blockUnit__nav__ul__element--text">
                                            <span>amet,</span>
                                        </div>
                                    </a>

                                </li>

                                <li class="mid__blocks__institucional__blockUnit__nav__ul__element">

                                    <a href="">
                                        <div class="mid__blocks__institucional__blockUnit__nav__ul__element--text">
                                            <span>consectetur</span>
                                        </div>
                                    </a>

                                </li>

                                <li class="mid__blocks__institucional__blockUnit__nav__ul__element">

                                    <a href="">
                                        <div class="mid__blocks__institucional__blockUnit__nav__ul__element--text">
                                            <span>adipiscing</span>
                                        </div>
                                    </a>

                                </li>

                                <li class="mid__blocks__institucional__blockUnit__nav__ul__element">

                                    <a href="">
                                        <div class="mid__blocks__institucional__blockUnit__nav__ul__element--text">
                                            <span>elit ut aliquam,</span>
                                        </div>
                                    </a>

                                </li>

                                <li class="mid__blocks__institucional__blockUnit__nav__ul__element">

                                    <a href="">
                                        <div class="mid__blocks__institucional__blockUnit__nav__ul__element--text">
                                            <span>purus</span>
                                        </div>
                                    </a>

                                </li>

                            </ul>

                        </nav>

                    </div>

                </div>

                <div class="mid__blocks__legal">

                    <div class="mid__blocks__legal__title">
                        <span>Legal</span>
                    </div>

                    <div class="mid__blocks__legal__blockUnit">
                        <nav class="mid__blocks__legal__blockUnit__nav">
                            <ul class="mid__blocks__legal__blockUnit__nav__ul">
                                <li class="mid__blocks__legal__blockUnit__nav__ul__element">

                                    <a href="">
                                        <div class="mid__blocks__legal__blockUnit__nav__ul__element--text">
                                            <span>Lorem ipsum</span>
                                        </div>
                                    </a>

                                </li>


                                <li class="mid__blocks__legal__blockUnit__nav__ul__element">

                                    <a href="">
                                        <div class="mid__blocks__legal__blockUnit__nav__ul__element--text">
                                            <span>dolor sit</span>
                                        </div>
                                    </a>

                                </li>

                                <li class="mid__blocks__legal__blockUnit__nav__ul__element">

                                    <a href="">
                                        <div class="mid__blocks__legal__blockUnit__nav__ul__element--text">
                                            <span>amet,</span>
                                        </div>
                                    </a>

                                </li>

                                <li class="mid__blocks__legal__blockUnit__nav__ul__element">

                                    <a href="">
                                        <div class="mid__blocks__legal__blockUnit__nav__ul__element--text">
                                            <span>consectetur</span>
                                        </div>
                                    </a>

                                </li>

                                <li class="mid__blocks__legal__blockUnit__nav__ul__element">

                                    <a href="">
                                        <div class="mid__blocks__legal__blockUnit__nav__ul__element--text">
                                            <span>adipiscing</span>
                                        </div>
                                    </a>

                                </li>

                                <li class="mid__blocks__legal__blockUnit__nav__ul__element">

                                    <a href="">
                                        <div class="mid__blocks__legal__blockUnit__nav__ul__element--text">
                                            <span>elit ut aliquam,</span>
                                        </div>
                                    </a>

                                </li>



                            </ul>

                        </nav>

                    </div>

                </div>

                <div class="mid__blocks__cliente">

                    <div class="mid__blocks__cliente__title">
                        <span>Cliente</span>
                    </div>

                    <div class="mid__blocks__cliente__blockUnit">
                        <nav class="mid__blocks__cliente__blockUnit__nav">
                            <ul class="mid__blocks__cliente__blockUnit__nav__ul">
                                <li class="mid__blocks__cliente__blockUnit__nav__ul__element">

                                    <a href="">
                                        <div class="mid__blocks__cliente__blockUnit__nav__ul__element--text">
                                            <span>Lorem ipsum</span>
                                        </div>
                                    </a>

                                </li>


                                <li class="mid__blocks__cliente__blockUnit__nav__ul__element">

                                    <a href="">
                                        <div class="mid__blocks__cliente__blockUnit__nav__ul__element--text">
                                            <span>dolor sit</span>
                                        </div>
                                    </a>

                                </li>

                                <li class="mid__blocks__cliente__blockUnit__nav__ul__element">

                                    <a href="">
                                        <div class="mid__blocks__cliente__blockUnit__nav__ul__element--text">
                                            <span>amet,</span>
                                        </div>
                                    </a>

                                </li>

                                <li class="mid__blocks__cliente__blockUnit__nav__ul__element">

                                    <a href="">
                                        <div class="mid__blocks__cliente__blockUnit__nav__ul__element--text">
                                            <span>consectetur</span>
                                        </div>
                                    </a>

                                </li>

                                <li class="mid__blocks__cliente__blockUnit__nav__ul__element">

                                    <a href="">
                                        <div class="mid__blocks__cliente__blockUnit__nav__ul__element--text">
                                            <span>adipiscing</span>
                                        </div>
                                    </a>

                                </li>

                                <li class="mid__blocks__cliente__blockUnit__nav__ul__element">

                                    <a href="">
                                        <div class="mid__blocks__cliente__blockUnit__nav__ul__element--text">
                                            <span>elit ut aliquam,</span>
                                        </div>
                                    </a>

                                </li>

                                <li class="mid__blocks__cliente__blockUnit__nav__ul__element">

                                    <a href="">
                                        <div class="mid__blocks__cliente__blockUnit__nav__ul__element--text">
                                            <span>purus</span>
                                        </div>
                                    </a>

                                </li>

                            </ul>

                        </nav>

                    </div>

                </div>

                <div class="mid__blocks__servicios">

                    <div class="mid__blocks__servicios__title">
                        <span>Servicios</span>
                    </div>

                    <div class="mid__blocks__servicios__blockUnit">
                        <nav class="mid__blocks__servicios__blockUnit__nav">
                            <ul class="mid__blocks__servicios__blockUnit__nav__ul">
                                <li class="mid__blocks__servicios__blockUnit__nav__ul__element">

                                    <a href="">
                                        <div class="mid__blocks__servicios__blockUnit__nav__ul__element--text">
                                            <span>Lorem ipsum</span>
                                        </div>
                                    </a>

                                </li>


                                <li class="mid__blocks__servicios__blockUnit__nav__ul__element">

                                    <a href="">
                                        <div class="mid__blocks__servicios__blockUnit__nav__ul__element--text">
                                            <span>dolor sit</span>
                                        </div>
                                    </a>

                                </li>

                                <li class="mid__blocks__servicios__blockUnit__nav__ul__element">

                                    <a href="">
                                        <div class="mid__blocks__servicios__blockUnit__nav__ul__element--text">
                                            <span>amet,</span>
                                        </div>
                                    </a>

                                </li>

                                <li class="mid__blocks__servicios__blockUnit__nav__ul__element">

                                    <a href="">
                                        <div class="mid__blocks__servicios__blockUnit__nav__ul__element--text">
                                            <span>consectetur</span>
                                        </div>
                                    </a>

                                </li>

                                <li class="mid__blocks__servicios__blockUnit__nav__ul__element">

                                    <a href="">
                                        <div class="mid__blocks__servicios__blockUnit__nav__ul__element--text">
                                            <span>adipiscing</span>
                                        </div>
                                    </a>

                                </li>


                                <li class="mid__blocks__servicios__blockUnit__nav__ul__element">

                                    <a href="">
                                        <div class="mid__blocks__servicios__blockUnit__nav__ul__element--text">
                                            <span>purus</span>
                                        </div>
                                    </a>

                                </li>

                            </ul>

                        </nav>

                    </div>

                </div>

            </div>

        </div>





        <div class="bottom">
            <div class="bottom__copyright">
                <div class="bottom__copyright__text">
                    <p>© 2020 coffeeguy derechos de autor</p>
                </div>
            </div>
        </div>


    </section>

</footer>




</body>

</html>