<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CoffeeGuy</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>





        <link rel="stylesheet" href="../css/index.css">
        <link rel="shortcut icon" href="../sources/images/Coffee Guy 2 2 logoVsCode.svg" type="image/x-icon">
    
        <link rel="preconnect" href="https://fonts.googleapis.com">
    
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Roboto+Slab&display=swap"
            rel="stylesheet">
    
    
    </head>

<body>

    <header>

        <div class="flagColor1"></div>
        <div class="flagColor2"></div>

        <div class="logoContainer">

            <a href="../index.html">
                <img src="../sources/images/coffeeGuyLogo.svg" alt="Logo del sitio que dice Coffee Guy">
            </a>

        </div>


        <div class="navContainer">

            <nav class="navContainer__menu">

                <ul>
                    <li>
                        <a href="./about.html">
                            <span>Nosotros</span>
                        </a>
                    </li>
    
                    <li style="width: 79px;">
                        <a href="./locales.html">
                            <span>Locales</span>
                        </a>
                    </li>
    
                    <li style="width: 52px;">
                        <a href="./shop.html">
                            <span>Shop</span>
                        </a>
                    </li>
    
                    <li style="width: 114px;">
                        <a href="./novedades.html">
                            <span>Novedades</span>
                        </a>
                    </li>
    
                    <li>
                        <a href="./contact.html">
                            <span>Contacto</span>
                        </a>
                    </li>
    
                </ul>
    
            </nav>
        </div>



    </header>


    <main>
        <section id="conteinerShop">
        
            <div class="bannerShop">
        
                <img src="../sources/images/shopBannerLite.png" alt="modern cash machine">
        
            </div>
        
        
        
        
            <div class="filtros">
                
                <nav class="filtros">
                    <span>FILTROS</span>
                    <span>FILTRADO POR:</span>
            
                    <ul class="filtros__list">
                        <li>CATEGORÍA</li>
                        <li>COLOR</li>
                        <li>INTENSIDAD</li>
                        <li>LANZAMIENTO</li>
                        <li>MARCA</li>
                        <li>PESO</li>
                        <li>PRESENTACIÓN</li>
                        <li>DESCUENTO</li>
                        <li>VARIEDADES</li>
                    </ul>
                </nav>
            </div>
        
        
        
            <div class="cardsContainer">
        
                <div class="saleElements__card">
        
                    <div class="saleElements__card__img">
                        <a href=""><img src="../sources/images/cafeteraVentasLite.png" alt="side view of an aesthetic coffee machine"></a>                        
                    </div>
        
                    <div class="saleElements__card__text">
                        <h6>Cafetera semiautomática</h6>
                        <p>$120.000</p>
                    </div>
        
                    <div class="saleElements__card__button">
                        <button>
                            <p>Agregar al carrito</p>
                        </button>
                    </div>
        
                </div>
        
                <div class="saleElements__card">
        
                    <div class="saleElements__card__img">
                        <a href=""><img src="../sources/images/cafeteraVentasLite.png" alt="side view of an aesthetic coffee machine"></a> 
                    </div>
        
                    <div class="saleElements__card__text">
                        <h6>Cafetera semiautomática</h6>
                        <p>$120.000</p>
                    </div>
        
                    <div class="saleElements__card__button">
                        <button>
                            <p>Agregar al carrito</p>
                        </button>
                    </div>
        
                </div>
        
                <div class="saleElements__card">
        
                    <div class="saleElements__card__img">
                        <a href=""><img src="../sources/images/cafeteraVentasLite.png" alt="side view of an aesthetic coffee machine"></a> 
                    </div>
        
                    <div class="saleElements__card__text">
                        <h6>Cafetera semiautomática</h6>
                        <p>$120.000</p>
                    </div>
        
                    <div class="saleElements__card__button">
                        <button>
                            <p>Agregar al carrito</p>
                        </button>
                    </div>
        
                </div>
        
                <div class="saleElements__card">
        
                    <div class="saleElements__card__img">
                        <a href=""><img src="../sources/images/cafeteraVentasLite.png" alt="side view of an aesthetic coffee machine"></a> 
                    </div>
        
                    <div class="saleElements__card__text">
                        <h6>Cafetera semiautomática</h6>
                        <p>$120.000</p>
                    </div>
        
                    <div class="saleElements__card__button">
                        <button>
                            <p>Agregar al carrito</p>
                        </button>
                    </div>
        
                </div>
        
                <div class="saleElements__card">
        
                    <div class="saleElements__card__img">
                        <a href=""><img src="../sources/images/cafeteraVentasLite.png" alt="side view of an aesthetic coffee machine"></a> 
                    </div>
        
                    <div class="saleElements__card__text">
                        <h6>Cafetera semiautomática</h6>
                        <p>$120.000</p>
                    </div>
        
                    <div class="saleElements__card__button">
                        <button>
                            <p>Agregar al carrito</p>
                        </button>
                    </div>
        
                </div>
        
        
                <div class="saleElements__card">
        
                    <div class="saleElements__card__img">
                        <a href=""><img src="../sources/images/cafeteraVentasLite.png" alt="side view of an aesthetic coffee machine"></a> 
                    </div>
        
                    <div class="saleElements__card__text">
                        <h6>Cafetera semiautomática</h6>
                        <p>$120.000</p>
                    </div>
        
                    <div class="saleElements__card__button">
                        <button>
                            <p>Agregar al carrito</p>
                        </button>
                    </div>
        
                </div>
        
        
                <div class="saleElements__card">
        
                    <div class="saleElements__card__img">
                        <a href=""><img src="../sources/images/cafeteraVentasLite.png" alt="side view of an aesthetic coffee machine"></a> 
                    </div>
        
                    <div class="saleElements__card__text">
                        <h6>Cafetera semiautomática</h6>
                        <p>$120.000</p>
                    </div>
        
                    <div class="saleElements__card__button">
                        <button>
                            <p>Agregar al carrito</p>
                        </button>
                    </div>
        
                </div>
        
                <div class="saleElements__card">
        
                    <div class="saleElements__card__img">
                        <a href=""><img src="../sources/images/cafeteraVentasLite.png" alt="side view of an aesthetic coffee machine"></a> 
                    </div>
        
                    <div class="saleElements__card__text">
                        <h6>Cafetera semiautomática</h6>
                        <p>$120.000</p>
                    </div>
        
                    <div class="saleElements__card__button">
                        <button>
                            <p>Agregar al carrito</p>
                        </button>
                    </div>
        
                </div>
        
                <div class="saleElements__card">
        
                    <div class="saleElements__card__img">
                        <a href=""><img src="../sources/images/cafeteraVentasLite.png" alt="side view of an aesthetic coffee machine"></a> 
                    </div>
        
                    <div class="saleElements__card__text">
                        <h6>Cafetera semiautomática</h6>
                        <p>$120.000</p>
                    </div>
        
                    <div class="saleElements__card__button">
                        <button>
                            <p>Agregar al carrito</p>
                        </button>
                    </div>
        
                </div>
        
            </div>
        
            <div class="saleElements__button">
        
                <button class="saleElements__button--fitting">
                    <p>Ver más productos</p>
                </button>
        
            </div>
        
        </section>
    
    </main>






    <footer>
    
        <section id="allFooter">
    
            <div class="top">


                <div class="top__newsLetter">
    
                    <p class="top__newsLetter__info">Recibí todas nuestras <span>PROMOCIONES Y NOVEDADES</span></p>
    
                    <form class="top__newsLetter__mail" action="">
    
                        <input class="top__newsLetter__mail__text" type="email" name="" id=""
                            placeholder="Ingresá tu dirección de correo electrónico">
    
                        <button>
    
                            <img src="../sources/images/mailButton.svg" alt="button with a letter image">
    
                        </button>
    
                    </form>
    
                </div>
    
                <div class="top__socialMedia">
                
                    <div class="top__socialMedia__container">
                        <a href=""><img src="../sources/images/facebook.svg" alt="Facebook icon" class="top__socialMedia__anime"></a>
                        <a href=""><img src="../sources/images/instagram.svg" alt="Instagram icon" class="top__socialMedia__anime"></a>
                        <a href=""><img src="../sources/images/twitter.svg" alt="Twitter icon" class="top__socialMedia__anime"></a>
                        <a href=""><img src="../sources/images/linkedin.svg" alt="Linkedin icon" class="top__socialMedia__anime"></a>
                        <a href=""><img src="../sources/images/youtube.svg" alt="icon" class="top__socialMedia__anime"></a>
                    </div>           
                
                </div>
    
    
            </div>
    
    
            </div>
    
            <div class="mid">
    
                <div class="mid__blocks">
    
                    <div class="mid__blocks__institucional">
    
                        <div class="mid__blocks__institucional__title">
                            <span>Institucional</span>
                        </div>
    
                        <div class="mid__blocks__institucional__blockUnit">
                            <nav class="mid__blocks__institucional__blockUnit__nav">
                                <ul class="mid__blocks__institucional__blockUnit__nav__ul">
                                    <li class="mid__blocks__institucional__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__institucional__blockUnit__nav__ul__element--text">
                                                <span>Lorem ipsum</span>
                                            </div>
                                        </a>
    
                                    </li>
    
    
                                    <li class="mid__blocks__institucional__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__institucional__blockUnit__nav__ul__element--text">
                                                <span>dolor sit</span>
                                            </div>
                                        </a>
    
                                    </li>
    
                                    <li class="mid__blocks__institucional__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__institucional__blockUnit__nav__ul__element--text">
                                                <span>amet,</span>
                                            </div>
                                        </a>
    
                                    </li>
    
                                    <li class="mid__blocks__institucional__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__institucional__blockUnit__nav__ul__element--text">
                                                <span>consectetur</span>
                                            </div>
                                        </a>
    
                                    </li>
    
                                    <li class="mid__blocks__institucional__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__institucional__blockUnit__nav__ul__element--text">
                                                <span>adipiscing</span>
                                            </div>
                                        </a>
    
                                    </li>
    
                                    <li class="mid__blocks__institucional__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__institucional__blockUnit__nav__ul__element--text">
                                                <span>elit ut aliquam,</span>
                                            </div>
                                        </a>
    
                                    </li>
    
                                    <li class="mid__blocks__institucional__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__institucional__blockUnit__nav__ul__element--text">
                                                <span>purus</span>
                                            </div>
                                        </a>
    
                                    </li>
    
                                </ul>
    
                            </nav>
    
                        </div>
    
                    </div>
    
                    <div class="mid__blocks__legal">
    
                        <div class="mid__blocks__legal__title">
                            <span>Legal</span>
                        </div>
    
                        <div class="mid__blocks__legal__blockUnit">
                            <nav class="mid__blocks__legal__blockUnit__nav">
                                <ul class="mid__blocks__legal__blockUnit__nav__ul">
                                    <li class="mid__blocks__legal__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__legal__blockUnit__nav__ul__element--text">
                                                <span>Lorem ipsum</span>
                                            </div>
                                        </a>
    
                                    </li>
    
    
                                    <li class="mid__blocks__legal__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__legal__blockUnit__nav__ul__element--text">
                                                <span>dolor sit</span>
                                            </div>
                                        </a>
    
                                    </li>
    
                                    <li class="mid__blocks__legal__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__legal__blockUnit__nav__ul__element--text">
                                                <span>amet,</span>
                                            </div>
                                        </a>
    
                                    </li>
    
                                    <li class="mid__blocks__legal__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__legal__blockUnit__nav__ul__element--text">
                                                <span>consectetur</span>
                                            </div>
                                        </a>
    
                                    </li>
    
                                    <li class="mid__blocks__legal__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__legal__blockUnit__nav__ul__element--text">
                                                <span>adipiscing</span>
                                            </div>
                                        </a>
    
                                    </li>
    
                                    <li class="mid__blocks__legal__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__legal__blockUnit__nav__ul__element--text">
                                                <span>elit ut aliquam,</span>
                                            </div>
                                        </a>
    
                                    </li>
    
    
    
                                </ul>
    
                            </nav>
    
                        </div>
    
                    </div>
    
                    <div class="mid__blocks__cliente">
    
                        <div class="mid__blocks__cliente__title">
                            <span>Cliente</span>
                        </div>
    
                        <div class="mid__blocks__cliente__blockUnit">
                            <nav class="mid__blocks__cliente__blockUnit__nav">
                                <ul class="mid__blocks__cliente__blockUnit__nav__ul">
                                    <li class="mid__blocks__cliente__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__cliente__blockUnit__nav__ul__element--text">
                                                <span>Lorem ipsum</span>
                                            </div>
                                        </a>
    
                                    </li>
    
    
                                    <li class="mid__blocks__cliente__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__cliente__blockUnit__nav__ul__element--text">
                                                <span>dolor sit</span>
                                            </div>
                                        </a>
    
                                    </li>
    
                                    <li class="mid__blocks__cliente__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__cliente__blockUnit__nav__ul__element--text">
                                                <span>amet,</span>
                                            </div>
                                        </a>
    
                                    </li>
    
                                    <li class="mid__blocks__cliente__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__cliente__blockUnit__nav__ul__element--text">
                                                <span>consectetur</span>
                                            </div>
                                        </a>
    
                                    </li>
    
                                    <li class="mid__blocks__cliente__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__cliente__blockUnit__nav__ul__element--text">
                                                <span>adipiscing</span>
                                            </div>
                                        </a>
    
                                    </li>
    
                                    <li class="mid__blocks__cliente__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__cliente__blockUnit__nav__ul__element--text">
                                                <span>elit ut aliquam,</span>
                                            </div>
                                        </a>
    
                                    </li>
    
                                    <li class="mid__blocks__cliente__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__cliente__blockUnit__nav__ul__element--text">
                                                <span>purus</span>
                                            </div>
                                        </a>
    
                                    </li>
    
                                </ul>
    
                            </nav>
    
                        </div>
    
                    </div>
    
                    <div class="mid__blocks__servicios">
    
                        <div class="mid__blocks__servicios__title">
                            <span>Servicios</span>
                        </div>
    
                        <div class="mid__blocks__servicios__blockUnit">
                            <nav class="mid__blocks__servicios__blockUnit__nav">
                                <ul class="mid__blocks__servicios__blockUnit__nav__ul">
                                    <li class="mid__blocks__servicios__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__servicios__blockUnit__nav__ul__element--text">
                                                <span>Lorem ipsum</span>
                                            </div>
                                        </a>
    
                                    </li>
    
    
                                    <li class="mid__blocks__servicios__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__servicios__blockUnit__nav__ul__element--text">
                                                <span>dolor sit</span>
                                            </div>
                                        </a>
    
                                    </li>
    
                                    <li class="mid__blocks__servicios__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__servicios__blockUnit__nav__ul__element--text">
                                                <span>amet,</span>
                                            </div>
                                        </a>
    
                                    </li>
    
                                    <li class="mid__blocks__servicios__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__servicios__blockUnit__nav__ul__element--text">
                                                <span>consectetur</span>
                                            </div>
                                        </a>
    
                                    </li>
    
                                    <li class="mid__blocks__servicios__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__servicios__blockUnit__nav__ul__element--text">
                                                <span>adipiscing</span>
                                            </div>
                                        </a>
    
                                    </li>
    
    
                                    <li class="mid__blocks__servicios__blockUnit__nav__ul__element">
    
                                        <a href="">
                                            <div class="mid__blocks__servicios__blockUnit__nav__ul__element--text">
                                                <span>purus</span>
                                            </div>
                                        </a>
    
                                    </li>
    
                                </ul>
    
                            </nav>
    
                        </div>
    
                    </div>
    
                </div>
    
            </div>
    
    
    
    
    
            <div class="bottom">
                <div class="bottom__copyright">
                    <div class="bottom__copyright__text">
                        <p>© 2020 coffeeguy derechos de autor</p>
                    </div>
                </div>
            </div>
    
    
        </section>
    
    </footer>




</body>

</html>